In [2]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
## read from existing results :
antonym = pd.read_csv("Task13-P-U-Antonym_train.csv",sep=',')
print(antonym.columns)
antonym

/tmp/ipykernel_1621780/3623289113.py:2: DtypeWarning: Columns (21,40) have mixed types. Specify dtype option on import or set low_memory=False.
  antonym = pd.read_csv("Task13-P-U-Antonym_train.csv",sep=',')

Index(['Question_Id', 'Context', 'Original_Question', 'Original_Answer',
       'Modified_Question', 'O-Q model2 answer span', 'O-Q model2 start',
       'O-Q model2 end', 'O-Q model2 score', 'O-Q model4 answer span',
       'O-Q model4 start', 'O-Q model4 end', 'O-Q model4 score',
       'O-Q electra answer span', 'O-Q electra start', 'O-Q electra end',
       'O-Q electra score', 'O-Q roberta answer span', 'O-Q roberta start',
       'O-Q roberta end', 'O-Q roberta score', 'O-Q sgnet answer span',
       'O-Q retro answer span', 'P-U model2 answer span', 'P-U model2 score',
       'P-U model2 start', 'P-U model2 end', 'P-U model4 answer span',
       'P-U model4 score', 'P-U model4 start', 'P-U model4 end',
       'P-U electra answer span', 'P-U electra score', 'P-U electra start',
       'P-U electra end', 'P-U roberta answer span', 'P-U roberta score',
       'P-U roberta start', 'P-U roberta end', 'P-U retro answer span',
       'P-U SgNet answer span'],
      dtype='object')

,Question_Id,Context,Original_Question,Original_Answer,Modified_Question,O-Q model2 answer span,O-Q model2 start,O-Q model2 end,O-Q model2 score,O-Q model4 answer span,...,P-U electra answer span,P-U electra score,P-U electra start,P-U electra end,P-U roberta answer span,P-U roberta score,P-U roberta start,P-U roberta end,P-U retro answer span,P-U SgNet answer span
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When unmake Beyonce start becoming popular?,late 1990s,275,286,0.636688,late 1990s,...,2003,4.783158e-01,526,530,late 1990s,3.438050e-04,276,286,[SEP],singles
1,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce finish becoming popular?,late 1990s,275,286,0.636688,late 1990s,...,2003,9.681445e-01,526,530,2003,5.624312e-01,526,530,NaN,singles
2,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce middle becoming popular?,late 1990s,275,286,0.636688,late 1990s,...,in the late 1990s,9.933707e-01,269,286,late 1990s,7.021254e-01,276,286,<No Answer>. The question is not answerable ac...,singles
3,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce stop becoming popular?,late 1990s,275,286,0.636688,late 1990s,...,2003,9.701355e-01,526,530,2003,2.269540e-04,526,530,[SEP],singles
4,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce end becoming popular?,late 1990s,275,286,0.636688,late 1990s,...,2003,9.857020e-01,526,530,2003,1.444686e-02,526,530,[SEP],singles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324809,5735d259012e2f140011a09f,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,With what Belorussian city does Kathmandu refu...,Minsk,475,481,0.972188,Minsk,...,Minsk,1.420000e-06,476,481,Minsk,3.530000e-06,476,481,<No Answer>. The question is not answerable ac...,NaN
324810,5735d259012e2f140011a09f,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,With what Belorussian city does Kathmandu lack...,Minsk,475,481,0.972188,Minsk,...,Minsk,4.920000e-05,476,481,Minsk,1.150000e-06,476,481,<No Answer>. The question is not answerable ac...,NaN
324811,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,In what year unmake Kathmandu create its initi...,1975,198,203,0.996814,1975,...,1975,9.999000e-01,199,203,1975,6.410000e-07,199,203,<No Answer>. The question is not answerable ac...,NaN
324812,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,In what year did Kathmandu create its initial ...,1975,198,203,0.996814,1975,...,1975,9.999801e-01,199,203,1975,1.200000e-06,199,203,<No Answer>. The question is not answerable ac...,NaN
324813,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What differ KMC an initialism of?,Kathmandu Metropolitan City,0,27,0.949815,Kathmandu,...,Rangoon,8.450000e-10,414,421,Kathmandu Metropolitan City,7.549198e-03,0,27,kathmandu metropolitan city,empty

# Cleaning Model's answer

In [4]:
import re

def preprocess_text2(text):
    if not pd.isna(text): 
        # Remove special characters from the left side
        text = re.sub(r'^\W+', '', text)

        # Remove special characters from the right side
        text = re.sub(r'\W+$', '', text)
        return text
    else: ## it's nan
        return ''
    
    
def preprocess_text(text):
    if not pd.isna(text): 
        return text
    else: ## it's nan
        return ''

text = "(2003)!,"
processed_text = preprocess_text(text)
print(processed_text)

(2003)!,

In [5]:
### Cleaning the result of models
import ast
Cln_orgQ_model2 = []
Cln_orgQ_model4 = []
Cln_orgQ_electra = []
Cln_orgQ_roberta = []
Cln_orgQ_sgnet = []
Cln_orgQ_retro = []

Cln_potUQ_model2 = []
Cln_potUQ_model4 = []
Cln_potUQ_electra = []
Cln_potUQ_roberta = []
Cln_potUQ_sgnet = []
Cln_potUQ_retro = []

for index, row in antonym.iterrows():
    if index % 10000 == 0:
        print(index)
    
    original_question_model2 = row['O-Q model2 answer span']
    original_question_model4 = row['O-Q model4 answer span']
    original_question_electra = row['O-Q electra answer span']
    original_question_roberta = row['O-Q roberta answer span']
    original_question_sgnet = row['O-Q sgnet answer span']
    original_question_retro = row['O-Q retro answer span']
    
    potentialU_question_model2 = row['P-U model2 answer span']
    potentialU_question_model4 = row['P-U model4 answer span']
    potentialU_question_electra = row['P-U electra answer span']
    potentialU_question_roberta = row['P-U roberta answer span']
    potentialU_question_sgnet = row['P-U SgNet answer span']
    potentialU_question_retro = row['P-U retro answer span']
    
    
    Cln_orgQ_model2.append(preprocess_text(original_question_model2))
    Cln_orgQ_model4.append(preprocess_text(original_question_model4))
    Cln_orgQ_electra.append(preprocess_text(original_question_electra))
    Cln_orgQ_roberta.append(preprocess_text(original_question_roberta))
    Cln_orgQ_sgnet.append(preprocess_text(original_question_sgnet))
    Cln_orgQ_retro.append(preprocess_text(original_question_retro))
    
    Cln_potUQ_model2.append(preprocess_text(potentialU_question_model2))
    Cln_potUQ_model4.append(preprocess_text(potentialU_question_model4))
    Cln_potUQ_electra.append(preprocess_text(potentialU_question_electra))
    Cln_potUQ_roberta.append(preprocess_text(potentialU_question_roberta))
    Cln_potUQ_sgnet.append(preprocess_text(potentialU_question_sgnet))
    Cln_potUQ_retro.append(preprocess_text(potentialU_question_retro))

    
      
antonym['Cln_orgQ_model2'] = Cln_orgQ_model2
antonym['Cln_orgQ_model4'] = Cln_orgQ_model4
antonym['Cln_orgQ_electra'] = Cln_orgQ_electra
antonym['Cln_orgQ_roberta'] = Cln_orgQ_roberta
antonym['Cln_orgQ_sgnet'] = Cln_orgQ_sgnet
antonym['Cln_orgQ_retro'] = Cln_orgQ_retro


antonym['Cln_potUQ_model2'] = Cln_potUQ_model2
antonym['Cln_potUQ_model4'] = Cln_potUQ_model4
antonym['Cln_potUQ_electra'] = Cln_potUQ_electra
antonym['Cln_potUQ_roberta'] = Cln_potUQ_roberta
antonym['Cln_potUQ_sgnet'] = Cln_potUQ_sgnet
antonym['Cln_potUQ_retro'] = Cln_potUQ_retro

# Specify the desired column order
new_column_order = [
    'Question_Id', 'Context', 'Original_Question', 'Original_Answer',
       'Modified_Question', 'O-Q model2 answer span', 'Cln_orgQ_model2',
       'O-Q model2 start', 'O-Q model2 end', 'O-Q model2 score',
       'O-Q model4 answer span', 'Cln_orgQ_model4', 'O-Q model4 start', 'O-Q model4 end',
       'O-Q model4 score', 'O-Q electra answer span','Cln_orgQ_electra', 'O-Q electra start',
       'O-Q electra end', 'O-Q electra score', 'O-Q roberta answer span', 'Cln_orgQ_roberta',
       'O-Q roberta start', 'O-Q roberta end', 'O-Q roberta score',
       'O-Q sgnet answer span', 'Cln_orgQ_sgnet' ,'O-Q retro answer span', 'Cln_orgQ_retro',
       'P-U model2 answer span', 'Cln_potUQ_model2', 'P-U model2 start', 'P-U model2 end',
       'P-U model2 score', 'P-U model4 answer span', 'Cln_potUQ_model4', 'P-U model4 start',
       'P-U model4 end', 'P-U model4 score', 'P-U electra answer span', 'Cln_potUQ_electra',
       'P-U electra start', 'P-U electra end', 'P-U electra score',
       'P-U roberta answer span', 'Cln_potUQ_roberta', 'P-U roberta start', 'P-U roberta end',
       'P-U roberta score', 'P-U SgNet answer span', 'Cln_potUQ_sgnet', 'P-U retro answer span', 'Cln_potUQ_retro'
    
]



       
# Reorder the columns in the DataFrame
antonym = antonym[new_column_order]


antonym

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000

,Question_Id,Context,Original_Question,Original_Answer,Modified_Question,O-Q model2 answer span,Cln_orgQ_model2,O-Q model2 start,O-Q model2 end,O-Q model2 score,...,P-U electra score,P-U roberta answer span,Cln_potUQ_roberta,P-U roberta start,P-U roberta end,P-U roberta score,P-U SgNet answer span,Cln_potUQ_sgnet,P-U retro answer span,Cln_potUQ_retro
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When unmake Beyonce start becoming popular?,late 1990s,late 1990s,275,286,0.636688,...,4.783158e-01,late 1990s,late 1990s,276,286,3.438050e-04,singles,singles,[SEP],[SEP]
1,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce finish becoming popular?,late 1990s,late 1990s,275,286,0.636688,...,9.681445e-01,2003,2003,526,530,5.624312e-01,singles,singles,NaN,
2,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce middle becoming popular?,late 1990s,late 1990s,275,286,0.636688,...,9.933707e-01,late 1990s,late 1990s,276,286,7.021254e-01,singles,singles,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...
3,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce stop becoming popular?,late 1990s,late 1990s,275,286,0.636688,...,9.701355e-01,2003,2003,526,530,2.269540e-04,singles,singles,[SEP],[SEP]
4,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce end becoming popular?,late 1990s,late 1990s,275,286,0.636688,...,9.857020e-01,2003,2003,526,530,1.444686e-02,singles,singles,[SEP],[SEP]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324809,5735d259012e2f140011a09f,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,With what Belorussian city does Kathmandu refu...,Minsk,Minsk,475,481,0.972188,...,1.420000e-06,Minsk,Minsk,476,481,3.530000e-06,NaN,,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...
324810,5735d259012e2f140011a09f,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,With what Belorussian city does Kathmandu lack...,Minsk,Minsk,475,481,0.972188,...,4.920000e-05,Minsk,Minsk,476,481,1.150000e-06,NaN,,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...
324811,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,In what year unmake Kathmandu create its initi...,1975,1975,198,203,0.996814,...,9.999000e-01,1975,1975,199,203,6.410000e-07,NaN,,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...
324812,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,In what year did Kathmandu create its initial ...,1975,1975,198,203,0.996814,...,9.999801e-01,1975,1975,199,203,1.200000e-06,NaN,,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...
324813,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What differ KMC an initialism of?,Kathmandu Metropolitan City,Kathmandu Metropolitan City,0,27,0.949815,...,8.450000e-10,Kathmandu Metropolitan City,Kathmandu Metropolitan City,0,27,7.549198e-03,empty,empty,kathmandu metropolitan city,kathmandu metropolitan city

# EM and unanswerability

In [6]:

EM_dataset_Cln_orgQ_model2 = []
EM_dataset_Cln_orgQ_model4 = []
EM_dataset_Cln_orgQ_electra = []
EM_dataset_Cln_orgQ_roberta = []
EM_dataset_Cln_orgQ_sgnet = []
EM_dataset_Cln_orgQ_retro = []

EM_dataset_Cln_potUQ_model2 = []
EM_dataset_Cln_potUQ_model4 = []
EM_dataset_Cln_potUQ_electra = []
EM_dataset_Cln_potUQ_roberta = []
Null_EM_dataset_Cln_potUQ_sgnet = []
Null_EM_dataset_Cln_potUQ_retro = []
### for unanswerability
un_potUQ_model2 = []
un_potUQ_model4 = []
un_potUQ_electra = []
un_potUQ_roberta = []
un_potUQ_sgnet = []
un_potUQ_retro = []


for index, row in antonym.iterrows():
    if index % 100000 == 0:
        print(index)
        
    original_answer_in_dataset = row['Original_Answer']

    original_question_model2 = row['Cln_orgQ_model2']
    original_question_model4 = row['Cln_orgQ_model4']
    original_question_electra = row['Cln_orgQ_electra']
    original_question_roberta = row['Cln_orgQ_roberta']
    original_question_sgnet = row['Cln_orgQ_sgnet']
    original_question_retro = row['Cln_orgQ_retro']

    potentialU_question_sgnet = row['Cln_potUQ_sgnet']
    potentialU_question_retro = row['Cln_potUQ_retro']
    potentialU_questionS_model2 = row['P-U model2 score']
    potentialU_questionS_model4 = row['P-U model4 score']
    potentialU_questionS_electra = row['P-U electra score']
    potentialU_questionS_roberta = row['P-U roberta score']
    



    if original_answer_in_dataset == original_question_model2:  # EM checking (dataset , model on org_q)
        EM_dataset_Cln_orgQ_model2.append(1)
    else:
        EM_dataset_Cln_orgQ_model2.append(0)
    
    if original_answer_in_dataset == original_question_model4:
        EM_dataset_Cln_orgQ_model4.append(1)
    else:
        EM_dataset_Cln_orgQ_model4.append(0)
    
    if original_answer_in_dataset == original_question_electra:
        EM_dataset_Cln_orgQ_electra.append(1)
    else:
        EM_dataset_Cln_orgQ_electra.append(0)
        
    if original_answer_in_dataset == original_question_roberta:
        EM_dataset_Cln_orgQ_roberta.append(1)
    else:
        EM_dataset_Cln_orgQ_roberta.append(0)
    
    if original_answer_in_dataset == original_question_sgnet:
        EM_dataset_Cln_orgQ_sgnet.append(1)
    else:
        EM_dataset_Cln_orgQ_sgnet.append(0)
        
    if original_answer_in_dataset == original_question_retro:
        EM_dataset_Cln_orgQ_retro.append(1)
    else:
        EM_dataset_Cln_orgQ_retro.append(0)
        
    if original_answer_in_dataset == potentialU_question_model2: ## EM checking (dataset, model on p-u_q)
        EM_dataset_Cln_potUQ_model2.append(1)
    else:
        EM_dataset_Cln_potUQ_model2.append(0)
    
    if original_answer_in_dataset == potentialU_question_model4:
        EM_dataset_Cln_potUQ_model4.append(1)
    else:
        EM_dataset_Cln_potUQ_model4.append(0)
    
    if original_answer_in_dataset == potentialU_question_electra:
        EM_dataset_Cln_potUQ_electra.append(1)
    else:
        EM_dataset_Cln_potUQ_electra.append(0)
        
    if original_answer_in_dataset == potentialU_question_roberta:
        EM_dataset_Cln_potUQ_roberta.append(1)
    else:
        EM_dataset_Cln_potUQ_roberta.append(0)
    
    Null_EM_dataset_Cln_potUQ_sgnet.append(100)
    Null_EM_dataset_Cln_potUQ_retro.append(100)

    if potentialU_questionS_model2 <= 0.096476303 : # unanswerablity checking
        un_potUQ_model2.append(0)  #unanswerable
    else:
        un_potUQ_model2.append(1)  #answerable
    
    if potentialU_questionS_model4 <= 0.15272566:
        un_potUQ_model4.append(0) #unanswerable
    else:
        un_potUQ_model4.append(1) #answerable
    
    if potentialU_questionS_electra <= 0.141489303:
        un_potUQ_electra.append(0) #unanswerable
    else:
        un_potUQ_electra.append(1) #answerable
        
    if potentialU_questionS_roberta <= 0.063691394:
        un_potUQ_roberta.append(0) #unanswerable
    else: 
        un_potUQ_roberta.append(1) #answerable
    
    if potentialU_question_sgnet == "": 
        un_potUQ_sgnet.append(0) #unanswerable
    else:
        un_potUQ_sgnet.append(1) #answerable
        
    if potentialU_question_retro == "" or potentialU_question_retro.startswith("[SEP]") or potentialU_question_retro == "'" or potentialU_question_retro == "," or potentialU_question_retro == "<No Answer>. The question is not answerable according to the context." or potentialU_question_retro == "<unk>=0" :
        un_potUQ_retro.append(0) #unanswerable
    else:
        un_potUQ_retro.append(1) #answerable
        
antonym['EM dataset with clean orgQ_model2'] = EM_dataset_Cln_orgQ_model2
antonym['EM dataset with clean orgQ_model4'] = EM_dataset_Cln_orgQ_model4
antonym['EM dataset with clean orgQ_electra'] = EM_dataset_Cln_orgQ_electra
antonym['EM dataset with clean orgQ_roberta'] = EM_dataset_Cln_orgQ_roberta
antonym['EM dataset with clean orgQ_sgnet'] = EM_dataset_Cln_orgQ_sgnet
antonym['EM dataset with clean orgQ_retro'] = EM_dataset_Cln_orgQ_retro


antonym['EM dataset with clean potentailUQ_model2'] = EM_dataset_Cln_potUQ_model2
antonym['EM dataset with clean potentailUQ_model4'] = EM_dataset_Cln_potUQ_model4
antonym['EM dataset with clean potentailUQ_electra'] = EM_dataset_Cln_potUQ_electra
antonym['EM dataset with clean potentailUQ_roberta'] = EM_dataset_Cln_potUQ_roberta
antonym['NULL EM dataset with clean potentailUQ_sgnet'] = Null_EM_dataset_Cln_potUQ_sgnet
antonym['NULL EM dataset with clean potentailUQ_retro'] = Null_EM_dataset_Cln_potUQ_retro


antonym['unanswerability potentailUQ_model2'] = un_potUQ_model2
antonym['unanswerability potentailUQ_model4'] = un_potUQ_model4
antonym['unanswerability potentailUQ_electra'] = un_potUQ_electra
antonym['unanswerability potentailUQ_roberta'] = un_potUQ_roberta
antonym['unanswerability potentailUQ_sgnet'] = un_potUQ_sgnet
antonym['unanswerability potentailUQ_retro'] = un_potUQ_retro

new_column_order = [
    'Question_Id', 'Context', 'Original_Question', 'Original_Answer',
    'Modified_Question', 'O-Q model2 answer span', 'Cln_orgQ_model2', 'EM dataset with clean orgQ_model2',
    'O-Q model2 start', 'O-Q model2 end', 'O-Q model2 score',
    'O-Q model4 answer span', 'Cln_orgQ_model4','EM dataset with clean orgQ_model4' ,'O-Q model4 start', 'O-Q model4 end',
    'O-Q model4 score', 'O-Q electra answer span','Cln_orgQ_electra', 'EM dataset with clean orgQ_electra', 'O-Q electra start',
    'O-Q electra end', 'O-Q electra score', 'O-Q roberta answer span', 'Cln_orgQ_roberta', 'EM dataset with clean orgQ_roberta',
    'O-Q roberta start', 'O-Q roberta end', 'O-Q roberta score',
    'O-Q sgnet answer span', 'Cln_orgQ_sgnet', 'EM dataset with clean orgQ_sgnet' ,'O-Q retro answer span', 'Cln_orgQ_retro', 'EM dataset with clean orgQ_retro',
    'P-U model2 answer span', 'Cln_potUQ_model2','EM dataset with clean potentailUQ_model2','unanswerability potentailUQ_model2' ,'P-U model2 start', 'P-U model2 end',
    'P-U model2 score', 'P-U model4 answer span', 'Cln_potUQ_model4','EM dataset with clean potentailUQ_model4','unanswerability potentailUQ_model4', 'P-U model4 start',
    'P-U model4 end', 'P-U model4 score', 'P-U electra answer span', 'Cln_potUQ_electra', 'EM dataset with clean potentailUQ_electra','unanswerability potentailUQ_electra',
    'P-U electra start', 'P-U electra end', 'P-U electra score',
    'P-U roberta answer span', 'Cln_potUQ_roberta','EM dataset with clean potentailUQ_roberta','unanswerability potentailUQ_roberta' ,'P-U roberta start', 'P-U roberta end',
    'P-U roberta score', 'P-U SgNet answer span', 'Cln_potUQ_sgnet','NULL EM dataset with clean potentailUQ_sgnet' ,'unanswerability potentailUQ_sgnet','P-U retro answer span', 'Cln_potUQ_retro',
    'NULL EM dataset with clean potentailUQ_retro', 'unanswerability potentailUQ_retro'
    
]



# Reorder the columns in the DataFrame
antonym = antonym[new_column_order]


antonym

0
100000
200000
300000

/tmp/ipykernel_1621780/880923538.py:133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['EM dataset with clean orgQ_model2'] = EM_dataset_Cln_orgQ_model2
/tmp/ipykernel_1621780/880923538.py:134: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['EM dataset with clean orgQ_model4'] = EM_dataset_Cln_orgQ_model4
/tmp/ipykernel_1621780/880923538.py:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['EM dataset with clean orgQ_electra'] = EM_dataset_Cln_orgQ_electra
/tmp/ipykernel_1621780/880923538.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['EM dataset with clean orgQ_roberta'] = EM_dataset_Cln_orgQ_roberta
/tmp/ipykernel_1621780/880923538.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['EM dataset with clean orgQ_sgnet'] = EM_dataset_Cln_orgQ_sgnet
/tmp/ipykernel_1621780/880923538.py:138: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['EM dataset with clean orgQ_retro'] = EM_dataset_Cln_orgQ_retro
/tmp/ipykernel_1621780/880923538.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['EM dataset with clean potentailUQ_model2'] = EM_dataset_Cln_potUQ_model2
/tmp/ipykernel_1621780/880923538.py:142: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['EM dataset with clean potentailUQ_model4'] = EM_dataset_Cln_potUQ_model4
/tmp/ipykernel_1621780/880923538.py:143: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['EM dataset with clean potentailUQ_electra'] = EM_dataset_Cln_potUQ_electra
/tmp/ipykernel_1621780/880923538.py:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['EM dataset with clean potentailUQ_roberta'] = EM_dataset_Cln_potUQ_roberta
/tmp/ipykernel_1621780/880923538.py:145: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['NULL EM dataset with clean potentailUQ_sgnet'] = Null_EM_dataset_Cln_potUQ_sgnet
/tmp/ipykernel_1621780/880923538.py:146: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['NULL EM dataset with clean potentailUQ_retro'] = Null_EM_dataset_Cln_potUQ_retro
/tmp/ipykernel_1621780/880923538.py:149: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['unanswerability potentailUQ_model2'] = un_potUQ_model2
/tmp/ipykernel_1621780/880923538.py:150: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['unanswerability potentailUQ_model4'] = un_potUQ_model4
/tmp/ipykernel_1621780/880923538.py:151: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['unanswerability potentailUQ_electra'] = un_potUQ_electra
/tmp/ipykernel_1621780/880923538.py:152: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['unanswerability potentailUQ_roberta'] = un_potUQ_roberta
/tmp/ipykernel_1621780/880923538.py:153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['unanswerability potentailUQ_sgnet'] = un_potUQ_sgnet
/tmp/ipykernel_1621780/880923538.py:154: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  antonym['unanswerability potentailUQ_retro'] = un_potUQ_retro

,Question_Id,Context,Original_Question,Original_Answer,Modified_Question,O-Q model2 answer span,Cln_orgQ_model2,EM dataset with clean orgQ_model2,O-Q model2 start,O-Q model2 end,...,P-U roberta end,P-U roberta score,P-U SgNet answer span,Cln_potUQ_sgnet,NULL EM dataset with clean potentailUQ_sgnet,unanswerability potentailUQ_sgnet,P-U retro answer span,Cln_potUQ_retro,NULL EM dataset with clean potentailUQ_retro,unanswerability potentailUQ_retro
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When unmake Beyonce start becoming popular?,late 1990s,late 1990s,0,275,286,...,286,3.438050e-04,singles,singles,100,1,[SEP],[SEP],100,0
1,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce finish becoming popular?,late 1990s,late 1990s,0,275,286,...,530,5.624312e-01,singles,singles,100,1,NaN,,100,0
2,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce middle becoming popular?,late 1990s,late 1990s,0,275,286,...,286,7.021254e-01,singles,singles,100,1,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...,100,0
3,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce stop becoming popular?,late 1990s,late 1990s,0,275,286,...,530,2.269540e-04,singles,singles,100,1,[SEP],[SEP],100,0
4,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce end becoming popular?,late 1990s,late 1990s,0,275,286,...,530,1.444686e-02,singles,singles,100,1,[SEP],[SEP],100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324809,5735d259012e2f140011a09f,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,With what Belorussian city does Kathmandu refu...,Minsk,Minsk,0,475,481,...,481,3.530000e-06,NaN,,100,0,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...,100,0
324810,5735d259012e2f140011a09f,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,With what Belorussian city does Kathmandu lack...,Minsk,Minsk,0,475,481,...,481,1.150000e-06,NaN,,100,0,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...,100,0
324811,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,In what year unmake Kathmandu create its initi...,1975,1975,1,198,203,...,203,6.410000e-07,NaN,,100,0,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...,100,0
324812,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,In what year did Kathmandu create its initial ...,1975,1975,1,198,203,...,203,1.200000e-06,NaN,,100,0,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...,100,0
324813,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What differ KMC an initialism of?,Kathmandu Metropolitan City,Kathmandu Metropolitan City,1,0,27,...,27,7.549198e-03,empty,empty,100,1,kathmandu metropolitan city,kathmandu metropolitan city,100,1

# Working on EM results

In [7]:
import pandas as pd
from tqdm import tqdm

# Define an empty list to hold the rows
rows = []

# Iterate through the DataFrame using iterrows
for index, row in tqdm(antonym.iterrows(), total=antonym.shape[0], desc="Processing rows"):
    if index % 100000 == 0: 
        print(index)

    qid = row['Question_Id']
    context = row['Context']
    org_question = row['Original_Question']
    org_answer = row['Original_Answer']
    pu_question = row['Modified_Question']

    model_data = [
        ('model 2', row['Cln_orgQ_model2'], row['Cln_potUQ_model2'], row['EM dataset with clean orgQ_model2'], row['EM dataset with clean potentailUQ_model2'],row['unanswerability potentailUQ_model2']),
        ('model 4', row['Cln_orgQ_model4'], row['Cln_potUQ_model4'], row['EM dataset with clean orgQ_model4'], row['EM dataset with clean potentailUQ_model4'],row['unanswerability potentailUQ_model4']),
        ('electra', row['Cln_orgQ_electra'], row['Cln_potUQ_electra'], row['EM dataset with clean orgQ_electra'], row['EM dataset with clean potentailUQ_electra'],row['unanswerability potentailUQ_electra']),
        ('roberta', row['Cln_orgQ_roberta'], row['Cln_potUQ_roberta'], row['EM dataset with clean orgQ_roberta'], row['EM dataset with clean potentailUQ_roberta'],row['unanswerability potentailUQ_roberta']),
        ('sgnet', row['Cln_orgQ_sgnet'], row['Cln_potUQ_sgnet'], row['EM dataset with clean orgQ_sgnet'], row['NULL EM dataset with clean potentailUQ_sgnet'],row['unanswerability potentailUQ_sgnet']),
        ('retro', row['Cln_orgQ_retro'], row['Cln_potUQ_retro'], row['EM dataset with clean orgQ_retro'], row['NULL EM dataset with clean potentailUQ_retro'],row['unanswerability potentailUQ_retro'])
    ]

    for model_name, org_output, pu_output, org_em, pu_em,un in model_data:
        row_data = [qid, context, org_question, org_answer, org_output, pu_question, pu_output, org_em, pu_em,un, model_name]
        rows.append(row_data)

# Convert the list of rows to a DataFrame
result_df = pd.DataFrame(rows, columns=['qid', 'context', 'original question in dataset', 'original answer span in dataset', 
                                        'output of model for original question', 'potentail_UQ question', 
                                        'output of model for potentail_UQ question', 
                                        'EM-dataset answer with model on orgQ', 'EM-dataset answer with model on potentialUQ', 'unanswerability on potential question',
                                        'model name'])

result_df

Processing rows:   1%|▌                                                         | 2822/324814 [00:00<00:54, 5882.31it/s]

0

Processing rows:  31%|█████████████████▏                                     | 101648/324814 [00:08<00:18, 11936.97it/s]

100000

Processing rows:  62%|██████████████████████████████████▏                    | 201998/324814 [00:16<00:08, 13985.65it/s]

200000

Processing rows:  93%|███████████████████████████████████████████████████▎   | 302983/324814 [00:24<00:01, 14073.27it/s]

300000

Processing rows: 100%|███████████████████████████████████████████████████████| 324814/324814 [00:25<00:00, 12607.72it/s]

,qid,context,original question in dataset,original answer span in dataset,output of model for original question,potentail_UQ question,output of model for potentail_UQ question,EM-dataset answer with model on orgQ,EM-dataset answer with model on potentialUQ,unanswerability on potential question,model name
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,late 1990s,When unmake Beyonce start becoming popular?,"(2003),",0,0,0,model 2
1,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,late 1990s,When unmake Beyonce start becoming popular?,late 1990s,0,0,1,model 4
2,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,in the late 1990s,When unmake Beyonce start becoming popular?,2003,1,0,1,electra
3,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,late 1990s,When unmake Beyonce start becoming popular?,late 1990s,0,0,0,roberta
4,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,in,When unmake Beyonce start becoming popular?,singles,0,100,1,sgnet
...,...,...,...,...,...,...,...,...,...,...,...
1948879,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,Kathmandu,What differ KMC an initialism of?,Kathmandu,0,0,0,model 4
1948880,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,Secretariat,What differ KMC an initialism of?,Rangoon,0,0,0,electra
1948881,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,Kathmandu Metropolitan City,What differ KMC an initialism of?,Kathmandu Metropolitan City,1,1,0,roberta
1948882,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,,What differ KMC an initialism of?,empty,0,100,1,sgnet
1948883,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,kathmandu metropolitan city,What differ KMC an initialism of?,kathmandu metropolitan city,0,100,1,retro

In [8]:
result_df.to_csv('20240704-forAllConditions_Antonym_Eval100.csv')
# result_df = pd.read_csv("20240624-forAllConditions_Mutual.csv",sep=',')
# modified_Entity_Swap_df
print('percentages over all models')
model_name_counts = result_df['model name'].value_counts()
print(model_name_counts)
print("total row = " , len(result_df['model name']))

percentages over all models
model name
model 2    324814
model 4    324814
electra    324814
roberta    324814
sgnet      324814
retro      324814
Name: count, dtype: int64
total row =  1948884

In [9]:
import pandas as pd

# Group by 'qid' and 'potential_UQ question'
grouped = result_df.groupby(['qid', 'potentail_UQ question'])

# Initialize an empty list to hold the result
result_list = []

# Iterate over each group
for name, group in grouped:
    model_name_list = []
    sw = True
    qid, potential_UQ_question = name  # unpack the group name
    
    # Assume that context, original_question, and original_answer_span are the same for each group
    context = group.iloc[0]['context']
    original_question = group.iloc[0]['original question in dataset']
    original_answer_span = group.iloc[0]['original answer span in dataset']
    
    # Iterate through each row in the group
    for index, row in group.iterrows():
        EM_orgQ = row['EM-dataset answer with model on orgQ']
        EM_modifiedQ = row['EM-dataset answer with model on potentialUQ']
        unanswerability = row['unanswerability on potential question']
        
        #### New eval (1,0,0) for model2,model4,electra,roberta AND (1,0) for retro and sgnet   
        model_n = row['model name']
        if EM_orgQ ==1 : ### originalQ should be answered
            if model_n == 'model 2' or model_n == 'model 4' or model_n == 'electra' or model_n == 'roberta': 
                if EM_modifiedQ == 0 and unanswerability == 0:  ## if model couldn't answer it (low score , and em=0 for p-u), now let's consider this model
                    if row['model name'] not in model_name_list:
                        model_name_list.append(row['model name'])
            elif model_n == 'retro' or model_n == 'sgnet':
                if unanswerability == 0:  ## if model couldn't answer it (null or empty answer), now let's consider this model
                    if row['model name'] not in model_name_list:
                        model_name_list.append(row['model name'])
    
    # Add the result to the list
    result_list.append({
        'qid': qid,
        'context': context,
        'original_question': original_question,
        'original_answer_span': original_answer_span,
        'potential_UQ_question': potential_UQ_question,
        'model_name_list': model_name_list,
        'len': len(model_name_list)
    })

# Create a new DataFrame from the result list
new_df = pd.DataFrame(result_list)
new_df.to_csv('20240704-for10Conditions_Antonym_EVAL100.csv')
# Display the new DataFrame
display(new_df)

,qid,context,original_question,original_answer_span,potential_UQ_question,model_name_list,len
0,5.73E+136,"During the Protestant Reformation, the Church ...",When did the Church of England separate from t...,During the Protestant Reformation,When did the Church of England joint from the ...,"[model 4, roberta]",2
1,5.73E+136,"During the Protestant Reformation, the Church ...",When did the Church of England separate from t...,During the Protestant Reformation,When did the Church of England unite from the ...,"[model 4, roberta]",2
2,5.73E+136,"During the Protestant Reformation, the Church ...",When did the Church of England separate from t...,During the Protestant Reformation,When unmake the Church of England separate fro...,"[model 4, roberta]",2
3,5.73E+137,"During the Protestant Reformation, the Church ...",Who separated from the Roman Catholic Church d...,the Church of England,Who unite from the Roman Catholic Church durin...,"[model 4, electra, roberta]",3
4,5.73E+138,"During the Protestant Reformation, the Church ...","During the Protestant Reformation, the Church ...",the Roman Catholic Church,"During the Protestant Reformation, the Church ...",[electra],1
...,...,...,...,...,...,...,...
324809,573636bf9c79961900ff7e0a,"In contrast, Botswana has recently been forced...",What else is partly to blame for the declining...,poaching,What else differ partly to blame for the decli...,[],0
324810,573636bf9c79961900ff7e0a,"In contrast, Botswana has recently been forced...",What else is partly to blame for the declining...,poaching,What else is partly to absolve for the declini...,[],0
324811,573636bf9c79961900ff7e0a,"In contrast, Botswana has recently been forced...",What else is partly to blame for the declining...,poaching,What else is partly to blame for the accept nu...,[],0
324812,573636bf9c79961900ff7e0a,"In contrast, Botswana has recently been forced...",What else is partly to blame for the declining...,poaching,What else is partly to blame for the better nu...,[electra],1
324813,573636bf9c79961900ff7e0a,"In contrast, Botswana has recently been forced...",What else is partly to blame for the declining...,poaching,What else is wholly to blame for the declining...,[electra],1

In [13]:
filtered_df = new_df[new_df['len'] >= 4]
filtered_df.to_csv('20240704-Antonym-FinalUQ-EVAL100.csv')
filtered_df

,qid,context,original_question,original_answer_span,potential_UQ_question,model_name_list,len
11,5.73E+171,"In 1609, while still there, Smyth wrote a trac...",Smyth believed a scriptural church should cons...,baptized on a personal confession of faith,Smyth believed a scriptural church should cons...,"[model 4, electra, roberta, retro]",4
13,5.73E+171,"In 1609, while still there, Smyth wrote a trac...",Smyth believed a scriptural church should cons...,baptized on a personal confession of faith,Smyth believed a scriptural church should cons...,"[model 4, electra, roberta, retro]",4
15,5.73E+171,"In 1609, while still there, Smyth wrote a trac...",Smyth believed a scriptural church should cons...,baptized on a personal confession of faith,Smyth believed a scriptural church should cons...,"[model 4, electra, roberta, retro]",4
26,5.73E+182,"In October 2015, TCM announced the launch of t...",How long do TCM Wineclub subscriptions last?,3 month,How unretentive do TCM Wineclub subscriptions ...,"[model 4, electra, roberta, retro]",4
28,5.73E+188,Some Christian writers considered the possibil...,As what was the event mistaken by some pagans?,a solar eclipse,As what was the event mistaken by no pagans?,"[model 4, electra, roberta, retro]",4
...,...,...,...,...,...,...,...
324782,5736357e506b471400236596,The American bison is a large bovid which inha...,What did large herds of bison attract?,market hunters,What unmake large herds of bison attract?,"[model 4, electra, roberta, retro]",4
324784,5736357e506b471400236597,The American bison is a large bovid which inha...,What part of North America did the bison live?,western,What part of south America did the bison live?,"[model 4, electra, roberta, retro]",4
324794,5736357e506b47140023659a,The American bison is a large bovid which inha...,What do bison still remain?,near-threatened,What do bison no_longer remain?,"[model 4, electra, roberta, retro]",4
324800,573636bf9c79961900ff7e07,"In contrast, Botswana has recently been forced...",What animal declined across Botswana?,antelope,What animal accept across Botswana?,"[model 4, electra, roberta, retro]",4
324808,573636bf9c79961900ff7e09,"In contrast, Botswana has recently been forced...",What animal numbers remain stable in Botswana?,elephant,What animal numbers remain unstable in Botswana?,"[model 4, electra, roberta, retro]",4

In [14]:
# Define the conditions you want to check
conditions = [
    ('len >= 1', new_df['len'] >= 1),
    ('len == 3', new_df['len'] == 3),
    ('len == 4', new_df['len'] == 4),
    ('len == 5', new_df['len'] == 5),
    ('len == 6', new_df['len'] == 6),
    ('len >= 3', new_df['len'] >= 3),
    ('len >= 4', new_df['len'] >= 4),
    ('len >= 5', new_df['len'] >= 5)
]

# Initialize an empty dictionary to hold the results
condition_counts = {}

# Iterate over each condition
for condition_name, condition in conditions:
    # Filter the DataFrame based on the current condition
    filtered_df = new_df[condition]
    
    # Count the number of records that meet the condition
    count = filtered_df.shape[0]
    
    # Store the count in the dictionary
    condition_counts[condition_name] = count

# Display the counts for each condition
for condition_name, count in condition_counts.items():
    print(f"Number of records where {condition_name}: {count}")

Number of records where len >= 1: 210206
Number of records where len == 3: 58077
Number of records where len == 4: 23979
Number of records where len == 5: 3769
Number of records where len == 6: 1
Number of records where len >= 3: 85826
Number of records where len >= 4: 27749
Number of records where len >= 5: 3770