In [1]:
import pandas as pd

In [3]:
## read from existing results :
noInfo = pd.read_csv("Task12_noInfo_P-U-train.csv",sep=',')
# noInfo = noInfo.drop(noInfo.columns[[0, 1]], axis=1)
print(noInfo.columns)
noInfo

Index(['Question_ID', 'Context', 'Original_Question', 'Original_Answer',
       'Modified_Question', 'New_Context', 'O-Q model2 answer span',
       'O-Q model2 start', 'O-Q model2 end', 'O-Q model2 score',
       'O-Q model4 answer span', 'O-Q model4 start', 'O-Q model4 end',
       'O-Q model4 score', 'O-Q electra answer span', 'O-Q electra start',
       'O-Q electra end', 'O-Q electra score', 'O-Q roberta answer span',
       'O-Q roberta start', 'O-Q roberta end', 'O-Q roberta score',
       'O-Q sgnet answer span', 'O-Q retro answer span',
       'P-U model2 answer span', 'P-U model2 start', 'P-U model2 end',
       'P-U model2 score', 'P-U model4 answer span', 'P-U model4 start',
       'P-U model4 end', 'P-U model4 score', 'P-U electra answer span',
       'P-U electra start', 'P-U electra end', 'P-U electra score',
       'P-U roberta answer span', 'P-U roberta start', 'P-U roberta end',
       'P-U roberta score', 'P-U SgNet answer span', 'P-U retro answer span'],
      dtype='object')

/tmp/ipykernel_1622709/4185818463.py:2: DtypeWarning: Columns (22,40) have mixed types. Specify dtype option on import or set low_memory=False.
  noInfo = pd.read_csv("Task12_noInfo_P-U-train.csv",sep=',')

,Question_ID,Context,Original_Question,Original_Answer,Modified_Question,New_Context,O-Q model2 answer span,O-Q model2 start,O-Q model2 end,O-Q model2 score,...,P-U electra answer span,P-U electra start,P-U electra end,P-U electra score,P-U roberta answer span,P-U roberta start,P-U roberta end,P-U roberta score,P-U SgNet answer span,P-U retro answer span
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce start becoming popular?,LeToya Luckett and Roberson became unhappy wit...,late 1990s,275.0,286.0,0.636688,...,depression following the split,169.0,199.0,2.300000e-08,Beyoncé,149.0,156.0,2.450000e-09,the,<No Answer>. The question is not answerable ac...
1,56be85543aeaaa14008c9065,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,singing and dancing,What areas did Beyonce compete in when she was...,Beyoncé has received numerous awards. As a sol...,singing and dancing,206.0,226.0,0.836062,...,music artists of all time,234.0,259.0,4.514363e-03,Beyoncé,0.0,7.0,2.300000e-08,million albums in the,[SEP]
2,56be85543aeaaa14008c9066,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,2003,When did Beyonce leave Destiny's Child and bec...,"On January 7, 2012, Beyoncé gave birth to a da...","(2003),",524.0,532.0,0.942531,...,2012,14.0,18.0,4.066018e-02,2012,14.0,18.0,3.130000e-06,The song detailed the,[SEP]
3,56bf6b0f3aeaaa14008c9601,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,"Houston, Texas",In what city and state did Beyonce grow up?,"In 2006, Beyoncé introduced her all-female tou...","Houston, Texas,",165.0,181.0,0.576137,...,"Mamas, consist of Montina Cooper-Donnell",220.0,260.0,5.880000e-12,Beyoncé,9.0,16.0,1.670000e-07,at,<No Answer>. The question is not answerable ac...
4,56bf6b0f3aeaaa14008c9602,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,late 1990s,In which decade did Beyonce become famous?,"In July 2002, Beyoncé continued her acting car...",1990s,280.0,286.0,0.666362,...,2002,8.0,12.0,5.148077e-03,Beyoncé,14.0,21.0,4.390000e-07,released,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86817,5735d259012e2f140011a09d,"Kathmandu Metropolitan City (KMC), in order to...",In what US state did Kathmandu first establish...,Oregon,In what US state did Kathmandu first establish...,With the opening of the tourist industry after...,"Oregon,",228.0,236.0,0.995021,...,1950,96.0,100.0,8.449298e-01,1950,96.0,100.0,5.310000e-09,NaN,<No Answer>. The question is not answerable ac...
86818,5735d259012e2f140011a09e,"Kathmandu Metropolitan City (KMC), in order to...",What was Yangon previously known as?,Rangoon,What was Yangon previously known as?,"Institute of Medicine, the central college of ...",Rangoon),413.0,422.0,0.982968,...,Tribhuwan University,46.0,66.0,4.000000e-10,Tribhuwan University,46.0,66.0,8.880000e-11,NaN,<No Answer>. The question is not answerable ac...
86819,5735d259012e2f140011a09f,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,With what Belorussian city does Kathmandu have...,Five major climatic regions are found in Nepal...,Minsk,475.0,481.0,0.972188,...,subtropical highland climate,538.0,566.0,2.009092e-02,Kathmandu Valley,575.0,591.0,4.330000e-10,NaN,<No Answer>. The question is not answerable ac...
86820,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,In what year did Kathmandu create its initial ...,Sikhism is practiced primarily in Gurudwara at...,1975,198.0,203.0,0.996814,...,170 Christian churches,728.0,750.0,1.150000e-08,4,633.0,635.0,4.300000e-11,NaN,<No Answer>. The question is not answerable ac...
86821,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is KMC an initialism of?,"The Srijana Contemporary Art Gallery, located ...",Kathmandu Metropolitan City,0.0,27.0,0.949815,...,J,520.0,521.0,1.390000e-10,Nepal Art Council Gallery,681.0,706.0,8.110000e-09,NaN,<No Answer>. The question is not answerable ac...

# Cleaning Model's answer

In [4]:
import re

def preprocess_text2(text):
    if not pd.isna(text): 
        # Remove special characters from the left side
        text = re.sub(r'^\W+', '', text)

        # Remove special characters from the right side
        text = re.sub(r'\W+$', '', text)
        return text
    else: ## it's nan
        return ''
    
    
def preprocess_text(text):
    if not pd.isna(text): 
        return text
    else: ## it's nan
        return ''

text = "(2003)!,"
processed_text = preprocess_text(text)
print(processed_text)

(2003)!,

In [5]:
### Cleaning the result of models
import ast
Cln_orgQ_model2 = []
Cln_orgQ_model4 = []
Cln_orgQ_electra = []
Cln_orgQ_roberta = []
Cln_orgQ_sgnet = []
Cln_orgQ_retro = []

Cln_potUQ_model2 = []
Cln_potUQ_model4 = []
Cln_potUQ_electra = []
Cln_potUQ_roberta = []
Cln_potUQ_sgnet = []
Cln_potUQ_retro = []

for index, row in noInfo.iterrows():
    if index % 1000 == 0:
        print(index)
    
    original_question_model2 = row['O-Q model2 answer span']
    original_question_model4 = row['O-Q model4 answer span']
    original_question_electra = row['O-Q electra answer span']
    original_question_roberta = row['O-Q roberta answer span']
    original_question_sgnet = row['O-Q sgnet answer span']
    original_question_retro = row['O-Q retro answer span']
    
    potentialU_question_model2 = row['P-U model2 answer span']
    potentialU_question_model4 = row['P-U model4 answer span']
    potentialU_question_electra = row['P-U electra answer span']
    potentialU_question_roberta = row['P-U roberta answer span']
    potentialU_question_sgnet = row['P-U SgNet answer span']
    potentialU_question_retro = row['P-U retro answer span']
    
    
    Cln_orgQ_model2.append(preprocess_text(original_question_model2))
    Cln_orgQ_model4.append(preprocess_text(original_question_model4))
    Cln_orgQ_electra.append(preprocess_text(original_question_electra))
    Cln_orgQ_roberta.append(preprocess_text(original_question_roberta))
    Cln_orgQ_sgnet.append(preprocess_text(original_question_sgnet))
    Cln_orgQ_retro.append(preprocess_text(original_question_retro))
    
    Cln_potUQ_model2.append(preprocess_text(potentialU_question_model2))
    Cln_potUQ_model4.append(preprocess_text(potentialU_question_model4))
    Cln_potUQ_electra.append(preprocess_text(potentialU_question_electra))
    Cln_potUQ_roberta.append(preprocess_text(potentialU_question_roberta))
    Cln_potUQ_sgnet.append(preprocess_text(potentialU_question_sgnet))
    Cln_potUQ_retro.append(preprocess_text(potentialU_question_retro))

    
      
noInfo['Cln_orgQ_model2'] = Cln_orgQ_model2
noInfo['Cln_orgQ_model4'] = Cln_orgQ_model4
noInfo['Cln_orgQ_electra'] = Cln_orgQ_electra
noInfo['Cln_orgQ_roberta'] = Cln_orgQ_roberta
noInfo['Cln_orgQ_sgnet'] = Cln_orgQ_sgnet
noInfo['Cln_orgQ_retro'] = Cln_orgQ_retro


noInfo['Cln_potUQ_model2'] = Cln_potUQ_model2
noInfo['Cln_potUQ_model4'] = Cln_potUQ_model4
noInfo['Cln_potUQ_electra'] = Cln_potUQ_electra
noInfo['Cln_potUQ_roberta'] = Cln_potUQ_roberta
noInfo['Cln_potUQ_sgnet'] = Cln_potUQ_sgnet
noInfo['Cln_potUQ_retro'] = Cln_potUQ_retro

# Specify the desired column order
new_column_order = [
    'Question_ID', 'Context', 'Original_Question', 'Original_Answer',
       'Modified_Question', 'New_Context', 'O-Q model2 answer span', 'Cln_orgQ_model2',
       'O-Q model2 start', 'O-Q model2 end', 'O-Q model2 score',
       'O-Q model4 answer span', 'Cln_orgQ_model4', 'O-Q model4 start', 'O-Q model4 end',
       'O-Q model4 score', 'O-Q electra answer span','Cln_orgQ_electra', 'O-Q electra start',
       'O-Q electra end', 'O-Q electra score', 'O-Q roberta answer span', 'Cln_orgQ_roberta',
       'O-Q roberta start', 'O-Q roberta end', 'O-Q roberta score',
       'O-Q sgnet answer span', 'Cln_orgQ_sgnet' ,'O-Q retro answer span', 'Cln_orgQ_retro',
       'P-U model2 answer span', 'Cln_potUQ_model2', 'P-U model2 start', 'P-U model2 end',
       'P-U model2 score', 'P-U model4 answer span', 'Cln_potUQ_model4', 'P-U model4 start',
       'P-U model4 end', 'P-U model4 score', 'P-U electra answer span', 'Cln_potUQ_electra',
       'P-U electra start', 'P-U electra end', 'P-U electra score',
       'P-U roberta answer span', 'Cln_potUQ_roberta', 'P-U roberta start', 'P-U roberta end',
       'P-U roberta score', 'P-U SgNet answer span', 'Cln_potUQ_sgnet', 'P-U retro answer span', 'Cln_potUQ_retro'
    
]



       
# Reorder the columns in the DataFrame
noInfo = noInfo[new_column_order]


noInfo

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000

,Question_ID,Context,Original_Question,Original_Answer,Modified_Question,New_Context,O-Q model2 answer span,Cln_orgQ_model2,O-Q model2 start,O-Q model2 end,...,P-U electra score,P-U roberta answer span,Cln_potUQ_roberta,P-U roberta start,P-U roberta end,P-U roberta score,P-U SgNet answer span,Cln_potUQ_sgnet,P-U retro answer span,Cln_potUQ_retro
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce start becoming popular?,LeToya Luckett and Roberson became unhappy wit...,late 1990s,late 1990s,275.0,286.0,...,2.300000e-08,Beyoncé,Beyoncé,149.0,156.0,2.450000e-09,the,the,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...
1,56be85543aeaaa14008c9065,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,singing and dancing,What areas did Beyonce compete in when she was...,Beyoncé has received numerous awards. As a sol...,singing and dancing,singing and dancing,206.0,226.0,...,4.514363e-03,Beyoncé,Beyoncé,0.0,7.0,2.300000e-08,million albums in the,million albums in the,[SEP],[SEP]
2,56be85543aeaaa14008c9066,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,2003,When did Beyonce leave Destiny's Child and bec...,"On January 7, 2012, Beyoncé gave birth to a da...","(2003),","(2003),",524.0,532.0,...,4.066018e-02,2012,2012,14.0,18.0,3.130000e-06,The song detailed the,The song detailed the,[SEP],[SEP]
3,56bf6b0f3aeaaa14008c9601,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,"Houston, Texas",In what city and state did Beyonce grow up?,"In 2006, Beyoncé introduced her all-female tou...","Houston, Texas,","Houston, Texas,",165.0,181.0,...,5.880000e-12,Beyoncé,Beyoncé,9.0,16.0,1.670000e-07,at,at,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...
4,56bf6b0f3aeaaa14008c9602,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,late 1990s,In which decade did Beyonce become famous?,"In July 2002, Beyoncé continued her acting car...",1990s,1990s,280.0,286.0,...,5.148077e-03,Beyoncé,Beyoncé,14.0,21.0,4.390000e-07,released,released,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86817,5735d259012e2f140011a09d,"Kathmandu Metropolitan City (KMC), in order to...",In what US state did Kathmandu first establish...,Oregon,In what US state did Kathmandu first establish...,With the opening of the tourist industry after...,"Oregon,","Oregon,",228.0,236.0,...,8.449298e-01,1950,1950,96.0,100.0,5.310000e-09,NaN,,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...
86818,5735d259012e2f140011a09e,"Kathmandu Metropolitan City (KMC), in order to...",What was Yangon previously known as?,Rangoon,What was Yangon previously known as?,"Institute of Medicine, the central college of ...",Rangoon),Rangoon),413.0,422.0,...,4.000000e-10,Tribhuwan University,Tribhuwan University,46.0,66.0,8.880000e-11,NaN,,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...
86819,5735d259012e2f140011a09f,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,With what Belorussian city does Kathmandu have...,Five major climatic regions are found in Nepal...,Minsk,Minsk,475.0,481.0,...,2.009092e-02,Kathmandu Valley,Kathmandu Valley,575.0,591.0,4.330000e-10,NaN,,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...
86820,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,In what year did Kathmandu create its initial ...,Sikhism is practiced primarily in Gurudwara at...,1975,1975,198.0,203.0,...,1.150000e-08,4,4,633.0,635.0,4.300000e-11,NaN,,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...
86821,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is KMC an initialism of?,"The Srijana Contemporary Art Gallery, located ...",Kathmandu Metropolitan City,Kathmandu Metropolitan City,0.0,27.0,...,1.390000e-10,Nepal Art Council Gallery,Nepal Art Council Gallery,681.0,706.0,8.110000e-09,NaN,,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...

# EM and unanswerabilty

In [6]:

EM_dataset_Cln_orgQ_model2 = []
EM_dataset_Cln_orgQ_model4 = []
EM_dataset_Cln_orgQ_electra = []
EM_dataset_Cln_orgQ_roberta = []
EM_dataset_Cln_orgQ_sgnet = []
EM_dataset_Cln_orgQ_retro = []

EM_dataset_Cln_potUQ_model2 = []
EM_dataset_Cln_potUQ_model4 = []
EM_dataset_Cln_potUQ_electra = []
EM_dataset_Cln_potUQ_roberta = []
Null_EM_dataset_Cln_potUQ_sgnet = []
Null_EM_dataset_Cln_potUQ_retro = []
### for unanswerability
un_potUQ_model2 = []
un_potUQ_model4 = []
un_potUQ_electra = []
un_potUQ_roberta = []
un_potUQ_sgnet = []
un_potUQ_retro = []


for index, row in noInfo.iterrows():
    if index % 100000 == 0:
        print(index)
        
    original_answer_in_dataset = row['Original_Answer']

    original_question_model2 = row['Cln_orgQ_model2']
    original_question_model4 = row['Cln_orgQ_model4']
    original_question_electra = row['Cln_orgQ_electra']
    original_question_roberta = row['Cln_orgQ_roberta']
    original_question_sgnet = row['Cln_orgQ_sgnet']
    original_question_retro = row['Cln_orgQ_retro']
    

    potentialU_question_sgnet = row['Cln_potUQ_sgnet']
    potentialU_question_retro = row['Cln_potUQ_retro']
    potentialU_questionS_model2 = row['P-U model2 score']
    potentialU_questionS_model4 = row['P-U model4 score']
    potentialU_questionS_electra = row['P-U electra score']
    potentialU_questionS_roberta = row['P-U roberta score']
    



    if original_answer_in_dataset == original_question_model2:  # EM checking (dataset , model on org_q)
        EM_dataset_Cln_orgQ_model2.append(1)
    else:
        EM_dataset_Cln_orgQ_model2.append(0)
    
    if original_answer_in_dataset == original_question_model4:
        EM_dataset_Cln_orgQ_model4.append(1)
    else:
        EM_dataset_Cln_orgQ_model4.append(0)
    
    if original_answer_in_dataset == original_question_electra:
        EM_dataset_Cln_orgQ_electra.append(1)
    else:
        EM_dataset_Cln_orgQ_electra.append(0)
        
    if original_answer_in_dataset == original_question_roberta:
        EM_dataset_Cln_orgQ_roberta.append(1)
    else:
        EM_dataset_Cln_orgQ_roberta.append(0)
    
    if original_answer_in_dataset == original_question_sgnet:
        EM_dataset_Cln_orgQ_sgnet.append(1)
    else:
        EM_dataset_Cln_orgQ_sgnet.append(0)
        
    if original_answer_in_dataset == original_question_retro:
        EM_dataset_Cln_orgQ_retro.append(1)
    else:
        EM_dataset_Cln_orgQ_retro.append(0)
        
    if original_answer_in_dataset == potentialU_question_model2: ## EM checking (dataset, model on p-u_q)
        EM_dataset_Cln_potUQ_model2.append(1)
    else:
        EM_dataset_Cln_potUQ_model2.append(0)
    
    if original_answer_in_dataset == potentialU_question_model4:
        EM_dataset_Cln_potUQ_model4.append(1)
    else:
        EM_dataset_Cln_potUQ_model4.append(0)
    
    if original_answer_in_dataset == potentialU_question_electra:
        EM_dataset_Cln_potUQ_electra.append(1)
    else:
        EM_dataset_Cln_potUQ_electra.append(0)
        
    if original_answer_in_dataset == potentialU_question_roberta:
        EM_dataset_Cln_potUQ_roberta.append(1)
    else:
        EM_dataset_Cln_potUQ_roberta.append(0)
    
    Null_EM_dataset_Cln_potUQ_sgnet.append(100)
    Null_EM_dataset_Cln_potUQ_retro.append(100)

    if potentialU_questionS_model2 <= 0.096476303 : # unanswerablity checking
        un_potUQ_model2.append(0)  #unanswerable
    else:
        un_potUQ_model2.append(1)  #answerable
    
    if potentialU_questionS_model4 <= 0.15272566:
        un_potUQ_model4.append(0) #unanswerable
    else:
        un_potUQ_model4.append(1) #answerable
    
    if potentialU_questionS_electra <= 0.141489303:
        un_potUQ_electra.append(0) #unanswerable
    else:
        un_potUQ_electra.append(1) #answerable
        
    if potentialU_questionS_roberta <= 0.063691394:
        un_potUQ_roberta.append(0) #unanswerable
    else: 
        un_potUQ_roberta.append(1) #answerable
    
    if potentialU_question_sgnet == "": 
        un_potUQ_sgnet.append(0) #unanswerable
    else:
        un_potUQ_sgnet.append(1) #answerable
        
    if potentialU_question_retro == "" or potentialU_question_retro.startswith("[SEP]") or potentialU_question_retro == "'" or potentialU_question_retro == "," or potentialU_question_retro == "<No Answer>. The question is not answerable according to the context." or potentialU_question_retro == "<unk>=0" :
        un_potUQ_retro.append(0) #unanswerable
    else:
        un_potUQ_retro.append(1) #answerable
        
noInfo['EM dataset with clean orgQ_model2'] = EM_dataset_Cln_orgQ_model2
noInfo['EM dataset with clean orgQ_model4'] = EM_dataset_Cln_orgQ_model4
noInfo['EM dataset with clean orgQ_electra'] = EM_dataset_Cln_orgQ_electra
noInfo['EM dataset with clean orgQ_roberta'] = EM_dataset_Cln_orgQ_roberta
noInfo['EM dataset with clean orgQ_sgnet'] = EM_dataset_Cln_orgQ_sgnet
noInfo['EM dataset with clean orgQ_retro'] = EM_dataset_Cln_orgQ_retro


noInfo['EM dataset with clean potentailUQ_model2'] = EM_dataset_Cln_potUQ_model2
noInfo['EM dataset with clean potentailUQ_model4'] = EM_dataset_Cln_potUQ_model4
noInfo['EM dataset with clean potentailUQ_electra'] = EM_dataset_Cln_potUQ_electra
noInfo['EM dataset with clean potentailUQ_roberta'] = EM_dataset_Cln_potUQ_roberta
noInfo['NULL EM dataset with clean potentailUQ_sgnet'] = Null_EM_dataset_Cln_potUQ_sgnet
noInfo['NULL EM dataset with clean potentailUQ_retro'] = Null_EM_dataset_Cln_potUQ_retro


noInfo['unanswerability potentailUQ_model2'] = un_potUQ_model2
noInfo['unanswerability potentailUQ_model4'] = un_potUQ_model4
noInfo['unanswerability potentailUQ_electra'] = un_potUQ_electra
noInfo['unanswerability potentailUQ_roberta'] = un_potUQ_roberta
noInfo['unanswerability potentailUQ_sgnet'] = un_potUQ_sgnet
noInfo['unanswerability potentailUQ_retro'] = un_potUQ_retro

new_column_order = [
    'Question_ID', 'Context', 'Original_Question', 'Original_Answer',
    'Modified_Question', 'New_Context', 'O-Q model2 answer span', 'Cln_orgQ_model2', 'EM dataset with clean orgQ_model2',
    'O-Q model2 start', 'O-Q model2 end', 'O-Q model2 score',
    'O-Q model4 answer span', 'Cln_orgQ_model4','EM dataset with clean orgQ_model4' ,'O-Q model4 start', 'O-Q model4 end',
    'O-Q model4 score', 'O-Q electra answer span','Cln_orgQ_electra', 'EM dataset with clean orgQ_electra', 'O-Q electra start',
    'O-Q electra end', 'O-Q electra score', 'O-Q roberta answer span', 'Cln_orgQ_roberta', 'EM dataset with clean orgQ_roberta',
    'O-Q roberta start', 'O-Q roberta end', 'O-Q roberta score',
    'O-Q sgnet answer span', 'Cln_orgQ_sgnet', 'EM dataset with clean orgQ_sgnet' ,'O-Q retro answer span', 'Cln_orgQ_retro', 'EM dataset with clean orgQ_retro',
    'P-U model2 answer span', 'Cln_potUQ_model2','EM dataset with clean potentailUQ_model2','unanswerability potentailUQ_model2' ,'P-U model2 start', 'P-U model2 end',
    'P-U model2 score', 'P-U model4 answer span', 'Cln_potUQ_model4','EM dataset with clean potentailUQ_model4','unanswerability potentailUQ_model4', 'P-U model4 start',
    'P-U model4 end', 'P-U model4 score', 'P-U electra answer span', 'Cln_potUQ_electra', 'EM dataset with clean potentailUQ_electra','unanswerability potentailUQ_electra',
    'P-U electra start', 'P-U electra end', 'P-U electra score',
    'P-U roberta answer span', 'Cln_potUQ_roberta','EM dataset with clean potentailUQ_roberta','unanswerability potentailUQ_roberta' ,'P-U roberta start', 'P-U roberta end',
    'P-U roberta score', 'P-U SgNet answer span', 'Cln_potUQ_sgnet','NULL EM dataset with clean potentailUQ_sgnet' ,'unanswerability potentailUQ_sgnet','P-U retro answer span', 'Cln_potUQ_retro',
    'NULL EM dataset with clean potentailUQ_retro', 'unanswerability potentailUQ_retro'
    
]



# Reorder the columns in the DataFrame
noInfo = noInfo[new_column_order]


noInfo

0

/tmp/ipykernel_1622709/1693171093.py:133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['EM dataset with clean orgQ_model2'] = EM_dataset_Cln_orgQ_model2
/tmp/ipykernel_1622709/1693171093.py:134: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['EM dataset with clean orgQ_model4'] = EM_dataset_Cln_orgQ_model4
/tmp/ipykernel_1622709/1693171093.py:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['EM dataset with clean orgQ_electra'] = EM_dataset_Cln_orgQ_electra
/tmp/ipykernel_1622709/1693171093.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['EM dataset with clean orgQ_roberta'] = EM_dataset_Cln_orgQ_roberta
/tmp/ipykernel_1622709/1693171093.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['EM dataset with clean orgQ_sgnet'] = EM_dataset_Cln_orgQ_sgnet
/tmp/ipykernel_1622709/1693171093.py:138: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['EM dataset with clean orgQ_retro'] = EM_dataset_Cln_orgQ_retro
/tmp/ipykernel_1622709/1693171093.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['EM dataset with clean potentailUQ_model2'] = EM_dataset_Cln_potUQ_model2
/tmp/ipykernel_1622709/1693171093.py:142: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['EM dataset with clean potentailUQ_model4'] = EM_dataset_Cln_potUQ_model4
/tmp/ipykernel_1622709/1693171093.py:143: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['EM dataset with clean potentailUQ_electra'] = EM_dataset_Cln_potUQ_electra
/tmp/ipykernel_1622709/1693171093.py:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['EM dataset with clean potentailUQ_roberta'] = EM_dataset_Cln_potUQ_roberta
/tmp/ipykernel_1622709/1693171093.py:145: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['NULL EM dataset with clean potentailUQ_sgnet'] = Null_EM_dataset_Cln_potUQ_sgnet
/tmp/ipykernel_1622709/1693171093.py:146: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['NULL EM dataset with clean potentailUQ_retro'] = Null_EM_dataset_Cln_potUQ_retro
/tmp/ipykernel_1622709/1693171093.py:149: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['unanswerability potentailUQ_model2'] = un_potUQ_model2
/tmp/ipykernel_1622709/1693171093.py:150: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['unanswerability potentailUQ_model4'] = un_potUQ_model4
/tmp/ipykernel_1622709/1693171093.py:151: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['unanswerability potentailUQ_electra'] = un_potUQ_electra
/tmp/ipykernel_1622709/1693171093.py:152: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['unanswerability potentailUQ_roberta'] = un_potUQ_roberta
/tmp/ipykernel_1622709/1693171093.py:153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['unanswerability potentailUQ_sgnet'] = un_potUQ_sgnet
/tmp/ipykernel_1622709/1693171093.py:154: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noInfo['unanswerability potentailUQ_retro'] = un_potUQ_retro

,Question_ID,Context,Original_Question,Original_Answer,Modified_Question,New_Context,O-Q model2 answer span,Cln_orgQ_model2,EM dataset with clean orgQ_model2,O-Q model2 start,...,P-U roberta end,P-U roberta score,P-U SgNet answer span,Cln_potUQ_sgnet,NULL EM dataset with clean potentailUQ_sgnet,unanswerability potentailUQ_sgnet,P-U retro answer span,Cln_potUQ_retro,NULL EM dataset with clean potentailUQ_retro,unanswerability potentailUQ_retro
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyonce start becoming popular?,LeToya Luckett and Roberson became unhappy wit...,late 1990s,late 1990s,0,275.0,...,156.0,2.450000e-09,the,the,100,1,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...,100,0
1,56be85543aeaaa14008c9065,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,singing and dancing,What areas did Beyonce compete in when she was...,Beyoncé has received numerous awards. As a sol...,singing and dancing,singing and dancing,0,206.0,...,7.0,2.300000e-08,million albums in the,million albums in the,100,1,[SEP],[SEP],100,0
2,56be85543aeaaa14008c9066,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,2003,When did Beyonce leave Destiny's Child and bec...,"On January 7, 2012, Beyoncé gave birth to a da...","(2003),","(2003),",0,524.0,...,18.0,3.130000e-06,The song detailed the,The song detailed the,100,1,[SEP],[SEP],100,0
3,56bf6b0f3aeaaa14008c9601,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,"Houston, Texas",In what city and state did Beyonce grow up?,"In 2006, Beyoncé introduced her all-female tou...","Houston, Texas,","Houston, Texas,",0,165.0,...,16.0,1.670000e-07,at,at,100,1,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...,100,0
4,56bf6b0f3aeaaa14008c9602,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,late 1990s,In which decade did Beyonce become famous?,"In July 2002, Beyoncé continued her acting car...",1990s,1990s,0,280.0,...,21.0,4.390000e-07,released,released,100,1,NaN,,100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86817,5735d259012e2f140011a09d,"Kathmandu Metropolitan City (KMC), in order to...",In what US state did Kathmandu first establish...,Oregon,In what US state did Kathmandu first establish...,With the opening of the tourist industry after...,"Oregon,","Oregon,",0,228.0,...,100.0,5.310000e-09,NaN,,100,0,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...,100,0
86818,5735d259012e2f140011a09e,"Kathmandu Metropolitan City (KMC), in order to...",What was Yangon previously known as?,Rangoon,What was Yangon previously known as?,"Institute of Medicine, the central college of ...",Rangoon),Rangoon),0,413.0,...,66.0,8.880000e-11,NaN,,100,0,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...,100,0
86819,5735d259012e2f140011a09f,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,Minsk,With what Belorussian city does Kathmandu have...,Five major climatic regions are found in Nepal...,Minsk,Minsk,0,475.0,...,591.0,4.330000e-10,NaN,,100,0,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...,100,0
86820,5735d259012e2f140011a0a0,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,1975,In what year did Kathmandu create its initial ...,Sikhism is practiced primarily in Gurudwara at...,1975,1975,1,198.0,...,635.0,4.300000e-11,NaN,,100,0,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...,100,0
86821,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is KMC an initialism of?,"The Srijana Contemporary Art Gallery, located ...",Kathmandu Metropolitan City,Kathmandu Metropolitan City,1,0.0,...,706.0,8.110000e-09,NaN,,100,0,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...,100,0

# Working on EM results

In [7]:
import pandas as pd
from tqdm import tqdm

# Define an empty list to hold the rows
rows = []

# Iterate through the DataFrame using iterrows
for index, row in tqdm(noInfo.iterrows(), total=noInfo.shape[0], desc="Processing rows"):
    if index % 10000 == 0: 
        print(index)

    qid = row['Question_ID']
    context = row['Context']
    org_question = row['Original_Question']
    org_answer = row['Original_Answer']
    pu_question = row['Modified_Question']
    new_context = row['New_Context']

    model_data = [
        ('model 2', row['Cln_orgQ_model2'], row['Cln_potUQ_model2'], row['EM dataset with clean orgQ_model2'], row['EM dataset with clean potentailUQ_model2'],row['unanswerability potentailUQ_model2']),
        ('model 4', row['Cln_orgQ_model4'], row['Cln_potUQ_model4'], row['EM dataset with clean orgQ_model4'], row['EM dataset with clean potentailUQ_model4'],row['unanswerability potentailUQ_model4']),
        ('electra', row['Cln_orgQ_electra'], row['Cln_potUQ_electra'], row['EM dataset with clean orgQ_electra'], row['EM dataset with clean potentailUQ_electra'],row['unanswerability potentailUQ_electra']),
        ('roberta', row['Cln_orgQ_roberta'], row['Cln_potUQ_roberta'], row['EM dataset with clean orgQ_roberta'], row['EM dataset with clean potentailUQ_roberta'],row['unanswerability potentailUQ_roberta']),
        ('sgnet', row['Cln_orgQ_sgnet'], row['Cln_potUQ_sgnet'], row['EM dataset with clean orgQ_sgnet'], row['NULL EM dataset with clean potentailUQ_sgnet'],row['unanswerability potentailUQ_sgnet']),
        ('retro', row['Cln_orgQ_retro'], row['Cln_potUQ_retro'], row['EM dataset with clean orgQ_retro'], row['NULL EM dataset with clean potentailUQ_retro'],row['unanswerability potentailUQ_retro'])
    ]
    
    for model_name, org_output, pu_output, org_em, pu_em,un in model_data:
        row_data = [qid, context, org_question, org_answer, org_output, pu_question,new_context, pu_output, org_em, pu_em,un, model_name]
        rows.append(row_data)

# Convert the list of rows to a DataFrame
result_df = pd.DataFrame(rows, columns=['qid', 'context', 'original question in dataset', 'original answer span in dataset', 
                                        'output of model for original question', 'potentail_UQ question', 'New_Context',
                                        'output of model for potentail_UQ question', 
                                        'EM-dataset answer with model on orgQ', 'EM-dataset answer with model on potentialUQ', 'unanswerability on potential question',
                                        'model name'])

result_df

Processing rows:   2%|█▍                                                         | 2109/86822 [00:00<00:12, 6889.48it/s]

0

Processing rows:  14%|███████▉                                                 | 12095/86822 [00:01<00:06, 10798.07it/s]

10000

Processing rows:  25%|██████████████▏                                          | 21611/86822 [00:02<00:05, 12640.22it/s]

20000

Processing rows:  37%|█████████████████████▎                                   | 32399/86822 [00:02<00:04, 13129.43it/s]

30000

Processing rows:  48%|███████████████████████████▍                             | 41866/86822 [00:03<00:03, 11573.08it/s]

40000

Processing rows:  61%|██████████████████████████████████▍                      | 52544/86822 [00:04<00:02, 13275.13it/s]

50000

Processing rows:  71%|████████████████████████████████████████▋                | 61966/86822 [00:05<00:01, 12796.54it/s]

60000

Processing rows:  82%|██████████████████████████████████████████████▉          | 71447/86822 [00:06<00:01, 13424.65it/s]

70000

Processing rows:  95%|██████████████████████████████████████████████████████   | 82275/86822 [00:07<00:00, 12786.20it/s]

80000

Processing rows: 100%|█████████████████████████████████████████████████████████| 86822/86822 [00:07<00:00, 11737.64it/s]

,qid,context,original question in dataset,original answer span in dataset,output of model for original question,potentail_UQ question,New_Context,output of model for potentail_UQ question,EM-dataset answer with model on orgQ,EM-dataset answer with model on potentialUQ,unanswerability on potential question,model name
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,late 1990s,When did Beyonce start becoming popular?,LeToya Luckett and Roberson became unhappy wit...,Beyoncé,0,0,0,model 2
1,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,late 1990s,When did Beyonce start becoming popular?,LeToya Luckett and Roberson became unhappy wit...,Beyoncé,0,0,0,model 4
2,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,in the late 1990s,When did Beyonce start becoming popular?,LeToya Luckett and Roberson became unhappy wit...,depression following the split,1,0,0,electra
3,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,late 1990s,When did Beyonce start becoming popular?,LeToya Luckett and Roberson became unhappy wit...,Beyoncé,0,0,0,roberta
4,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,in,When did Beyonce start becoming popular?,LeToya Luckett and Roberson became unhappy wit...,the,0,100,1,sgnet
...,...,...,...,...,...,...,...,...,...,...,...,...
520927,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,Kathmandu,What is KMC an initialism of?,"The Srijana Contemporary Art Gallery, located ...",Nepal,0,0,1,model 4
520928,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,Secretariat,What is KMC an initialism of?,"The Srijana Contemporary Art Gallery, located ...",J,0,0,0,electra
520929,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,Kathmandu Metropolitan City,What is KMC an initialism of?,"The Srijana Contemporary Art Gallery, located ...",Nepal Art Council Gallery,1,0,0,roberta
520930,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,,What is KMC an initialism of?,"The Srijana Contemporary Art Gallery, located ...",,0,100,0,sgnet
520931,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,kathmandu metropolitan city,What is KMC an initialism of?,"The Srijana Contemporary Art Gallery, located ...",<No Answer>. The question is not answerable ac...,0,100,0,retro

In [9]:
result_df.to_csv('20240704-forAllConditions_noInfo_Eval100.csv')
# result_df = pd.read_csv("20240704-forAllConditions_noInfo_Eval100.csv",sep=',')
print('percentages over all models')
model_name_counts = result_df['model name'].value_counts()
print(model_name_counts)
print("total row = " , len(result_df['model name']))

percentages over all models
model name
model 2    86822
model 4    86822
electra    86822
roberta    86822
sgnet      86822
retro      86822
Name: count, dtype: int64
total row =  520932

In [15]:
import pandas as pd

# Group by 'qid' and 'potential_UQ question'
grouped = result_df.groupby(['qid', 'potentail_UQ question'])

# Initialize an empty list to hold the result
result_list = []

# Iterate over each group
for name, group in grouped:
    model_name_list = []
    sw = True
    qid, potential_UQ_question = name  # unpack the group name
    
    # Assume that context, original_question, and original_answer_span are the same for each group
    context = group.iloc[0]['context']
    original_question = group.iloc[0]['original question in dataset']
    original_answer_span = group.iloc[0]['original answer span in dataset']
    new_context = group.iloc[0]['New_Context']
    
    
    # Iterate through each row in the group
    for index, row in group.iterrows():
        EM_orgQ = row['EM-dataset answer with model on orgQ']
        EM_modifiedQ = row['EM-dataset answer with model on potentialUQ']
        unanswerability = row['unanswerability on potential question']
        
        #### New eval (1,0,0) for model2,model4,electra,roberta AND (1,0) for retro and sgnet   
        model_n = row['model name']
        if EM_orgQ ==1 : ### originalQ should be answered
            if model_n == 'model 2' or model_n == 'model 4' or model_n == 'electra' or model_n == 'roberta': 
                if EM_modifiedQ == 0 and unanswerability == 0:  ## if model couldn't answer it (low score , and em=0 for p-u), now let's consider this model
                    if row['model name'] not in model_name_list:
                        model_name_list.append(row['model name'])
            elif model_n == 'retro' or model_n == 'sgnet':
                if unanswerability == 0:  ## if model couldn't answer it (null or empty answer), now let's consider this model
                    if row['model name'] not in model_name_list:
                        model_name_list.append(row['model name'])
    
    # Add the result to the list
    result_list.append({
        'qid': qid,
        'context': context,
        'original_question': original_question,
        'original_answer_span': original_answer_span,
        'potential_UQ_question': potential_UQ_question,
        'new_context' : new_context,
        'model_name_list': model_name_list,
        'len': len(model_name_list)
    })

# Create a new DataFrame from the result list
new_df = pd.DataFrame(result_list)
new_df.to_csv('20240704-for10Conditions_noInfo_EVAL100.csv')
# Display the new DataFrame
display(new_df)

,qid,context,original_question,original_answer_span,potential_UQ_question,new_context,model_name_list,len
0,5.73E+136,"During the Protestant Reformation, the Church ...",When did the Church of England separate from t...,During the Protestant Reformation,When did the Church of England separate from t...,Modern Baptist churches trace their history to...,"[model 4, roberta]",2
1,5.73E+137,"During the Protestant Reformation, the Church ...",Who separated from the Roman Catholic Church d...,the Church of England,Who separated from the Roman Catholic Church d...,"Both Roger Williams and John Clarke, his compa...","[model 4, electra, roberta]",3
2,5.73E+138,"During the Protestant Reformation, the Church ...","During the Protestant Reformation, the Church ...",the Roman Catholic Church,"During the Protestant Reformation, the Church ...",Historians trace the earliest Baptist church b...,[electra],1
3,5.73E+169,"In 1609, while still there, Smyth wrote a trac...",What was his first proposition?,infants are not to be baptized,What was his first proposition?,"Smyth, convinced that his self-baptism was inv...","[electra, roberta, retro]",3
4,5.73E+170,"In 1609, while still there, Smyth wrote a trac...",What was his second proposition?,Antichristians converted are to be admitted in...,What was his second proposition?,Southern Baptist Landmarkism sought to reset t...,"[model 4, electra, roberta]",3
...,...,...,...,...,...,...,...,...
86815,573636bf9c79961900ff7e06,"In contrast, Botswana has recently been forced...",What Botswana was resently forced to do?,ban trophy hunting,What Botswana was resently forced to do?,Hunting is primarily regulated by state law; a...,"[model 4, electra, roberta, retro]",4
86816,573636bf9c79961900ff7e07,"In contrast, Botswana has recently been forced...",What animal declined across Botswana?,antelope,What animal declined across Botswana?,Hunting is the practice of killing or trapping...,"[model 4, electra, roberta, retro]",4
86817,573636bf9c79961900ff7e08,"In contrast, Botswana has recently been forced...",What animal numbers have increased in Botswana?,hippopotamus,What animal numbers have increased in Botswana?,"When Internet hunting was introduced in 2005, ...","[model 4, electra, roberta, retro]",4
86818,573636bf9c79961900ff7e09,"In contrast, Botswana has recently been forced...",What animal numbers remain stable in Botswana?,elephant,What animal numbers remain stable in Botswana?,During the feudal and colonial times in Britis...,"[model 4, electra, roberta, retro]",4
86819,573636bf9c79961900ff7e0a,"In contrast, Botswana has recently been forced...",What else is partly to blame for the declining...,poaching,What else is partly to blame for the declining...,"Hunting big game typically requires a ""tag"" fo...",[electra],1

In [17]:
filtered_df = new_df[new_df['len'] >= 4]
filtered_df.to_csv('20240704-NoInfo-FinalUQ-EVAL100.csv')
filtered_df

,qid,context,original_question,original_answer_span,potential_UQ_question,new_context,model_name_list,len
5,5.73E+171,"In 1609, while still there, Smyth wrote a trac...",Smyth believed a scriptural church should cons...,baptized on a personal confession of faith,Smyth believed a scriptural church should cons...,Shared doctrines would include beliefs about o...,"[model 4, electra, roberta, retro]",4
6,5.73E+172,"In 1609, while still there, Smyth wrote a trac...",What is paedobaptism?,infant baptism,What is paedobaptism?,"Smyth, convinced that his self-baptism was inv...","[model 4, electra, roberta, retro]",4
10,5.73E+182,"In October 2015, TCM announced the launch of t...",How long do TCM Wineclub subscriptions last?,3 month,How long do TCM Wineclub subscriptions last?,The channel also broadcasts two movie blocks d...,"[model 4, electra, roberta, retro]",4
17,5.73E+32,"As the century wore on, the factions slowly be...",Did the Whigs want to limit the monarch's power?,championing constitutional monarchy with stric...,Did the Whigs want to limit the monarch's power?,"Political parties, still called factions by so...","[model 4, electra, roberta, retro]",4
20,56be85543aeaaa14008c9065,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,singing and dancing,What areas did Beyonce compete in when she was...,Beyoncé has received numerous awards. As a sol...,"[model 4, electra, roberta, retro]",4
...,...,...,...,...,...,...,...,...
86814,5736357e506b47140023659a,The American bison is a large bovid which inha...,What do bison still remain?,near-threatened,What do bison still remain?,"Each year, nearly $200 million in hunters' fed...","[model 4, electra, roberta, retro]",4
86815,573636bf9c79961900ff7e06,"In contrast, Botswana has recently been forced...",What Botswana was resently forced to do?,ban trophy hunting,What Botswana was resently forced to do?,Hunting is primarily regulated by state law; a...,"[model 4, electra, roberta, retro]",4
86816,573636bf9c79961900ff7e07,"In contrast, Botswana has recently been forced...",What animal declined across Botswana?,antelope,What animal declined across Botswana?,Hunting is the practice of killing or trapping...,"[model 4, electra, roberta, retro]",4
86817,573636bf9c79961900ff7e08,"In contrast, Botswana has recently been forced...",What animal numbers have increased in Botswana?,hippopotamus,What animal numbers have increased in Botswana?,"When Internet hunting was introduced in 2005, ...","[model 4, electra, roberta, retro]",4
86818,573636bf9c79961900ff7e09,"In contrast, Botswana has recently been forced...",What animal numbers remain stable in Botswana?,elephant,What animal numbers remain stable in Botswana?,During the feudal and colonial times in Britis...,"[model 4, electra, roberta, retro]",4

In [12]:
# Define the conditions you want to check
conditions = [
    ('len >= 1', new_df['len'] >= 1),
    ('len == 3', new_df['len'] == 3),
    ('len == 4', new_df['len'] == 4),
    ('len == 5', new_df['len'] == 5),
    ('len == 6', new_df['len'] == 6),
    ('len >= 3', new_df['len'] >= 3),
    ('len >= 4', new_df['len'] >= 4),
    ('len >= 5', new_df['len'] >= 5),
    ('len >= 6', new_df['len'] >= 6)
]

# Initialize an empty dictionary to hold the results
condition_counts = {}

# Iterate over each condition
for condition_name, condition in conditions:
    # Filter the DataFrame based on the current condition
    filtered_df = new_df[condition]
    
    # Count the number of records that meet the condition
    count = filtered_df.shape[0]
    
    # Store the count in the dictionary
    condition_counts[condition_name] = count

# Display the counts for each condition
for condition_name, count in condition_counts.items():
    print(f"Number of records where {condition_name}: {count}")

Number of records where len >= 1: 81309
Number of records where len == 3: 31082
Number of records where len == 4: 17924
Number of records where len == 5: 4728
Number of records where len == 6: 0
Number of records where len >= 3: 53734
Number of records where len >= 4: 22652
Number of records where len >= 5: 4728
Number of records where len >= 6: 0