In [3]:
## read from existing results :
es = pd.read_csv("Task13-P-U-ES_train.csv",sep=',')
print(es.columns)
es

/tmp/ipykernel_1622037/2844626743.py:2: DtypeWarning: Columns (21,40) have mixed types. Specify dtype option on import or set low_memory=False.
  es = pd.read_csv("Task13-P-U-ES_train.csv",sep=',')

Index(['Question_Id', 'Context', 'Original_Question', 'Original_Answer',
       'Modified_Question', 'O-Q model2 answer span', 'O-Q model2 start',
       'O-Q model2 end', 'O-Q model2 score', 'O-Q model4 answer span',
       'O-Q model4 start', 'O-Q model4 end', 'O-Q model4 score',
       'O-Q electra answer span', 'O-Q electra start', 'O-Q electra end',
       'O-Q electra score', 'O-Q roberta answer span', 'O-Q roberta start',
       'O-Q roberta end', 'O-Q roberta score', 'O-Q sgnet answer span',
       'O-Q retro answer span', 'P-U model2 answer span', 'P-U model2 score',
       'P-U model2 start', 'P-U model2 end', 'P-U model4 answer span',
       'P-U model4 score', 'P-U model4 start', 'P-U model4 end',
       'P-U electra answer span', 'P-U electra score', 'P-U electra start',
       'P-U electra end', 'P-U roberta answer span', 'P-U roberta score',
       'P-U roberta start', 'P-U roberta end', 'P-U retro answer span',
       'P-U SgNet answer span'],
      dtype='object')

,Question_Id,Context,Original_Question,Original_Answer,Modified_Question,O-Q model2 answer span,O-Q model2 start,O-Q model2 end,O-Q model2 score,O-Q model4 answer span,...,P-U electra answer span,P-U electra score,P-U electra start,P-U electra end,P-U roberta answer span,P-U roberta score,P-U roberta start,P-U roberta end,P-U retro answer span,P-U SgNet answer span
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyoncé Giselle Knowles-Carter start ...,late 1990s,275.0,286.0,0.636688,late 1990s,...,in the late 1990s,9.705338e-01,269.0,286.0,late 1990s,3.878467e-02,276.0,286.0,late 1990s,record producer and actress.
1,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Mathew Knowles start becoming popular?,late 1990s,275.0,286.0,0.636688,late 1990s,...,in the late 1990s,2.442383e-02,269.0,286.0,"Crazy in Love"" and ""Baby Boy",1.130000e-10,664.0,692.0,<No Answer>. The question is not answerable ac...,record producer and actress.
2,56be85543aeaaa14008c9065,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,singing and dancing,What areas did Beyoncé Giselle Knowles-Carter ...,singing and dancing,206.0,226.0,0.836062,singing and dancing,...,singing and dancing,9.997814e-01,207.0,226.0,singing and dancing,8.678358e-01,207.0,226.0,singing and dancing,girl-group
3,56be85543aeaaa14008c9065,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,singing and dancing,What areas did Mathew Knowles compete in when ...,singing and dancing,206.0,226.0,0.836062,singing and dancing,...,singing and dancing,9.989982e-01,207.0,226.0,singing and dancing,7.840000e-10,207.0,226.0,<No Answer>. The question is not answerable ac...,girl-group
4,56be85543aeaaa14008c9066,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,2003,When did Beyoncé Giselle Knowles-Carter leave ...,"(2003),",524.0,532.0,0.942531,2003,...,2003,9.999547e-01,526.0,530.0,2003,9.378974e-01,526.0,530.0,"(2003),","worldwide, earned"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389326,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is KMC an initialism of?,Kathmandu Metropolitan City,0.0,27.0,0.949815,Kathmandu,...,Secretariat,4.620000e-09,122.0,133.0,Kathmandu Metropolitan City,9.955025e-01,0.0,27.0,kathmandu metropolitan city,NaN
389327,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is International Relations Secretariat an...,Kathmandu Metropolitan City,0.0,27.0,0.949815,Kathmandu,...,IRC,9.991772e-01,135.0,138.0,IRC,8.199144e-02,135.0,138.0,international relations secretariat,NaN
389328,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is IRC an initialism of?,Kathmandu Metropolitan City,0.0,27.0,0.949815,Kathmandu,...,International Relations Secretariat,9.789463e-01,98.0,133.0,International Relations Secretariat,9.967989e-01,98.0,133.0,kathmandu metropolitan city,NaN
389329,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is KMC an initialism of?,Kathmandu Metropolitan City,0.0,27.0,0.949815,Kathmandu,...,Secretariat,4.620000e-09,122.0,133.0,Kathmandu Metropolitan City,9.955025e-01,0.0,27.0,"(kmc),",NaN
389330,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is KMC an initialism of?,Kathmandu Metropolitan City,0.0,27.0,0.949815,Kathmandu,...,Secretariat,4.620000e-09,122.0,133.0,Kathmandu Metropolitan City,9.955025e-01,0.0,27.0,"(kmc),",NaN

# Cleaning Model's answer

In [4]:
import re

def preprocess_text2(text):
    if not pd.isna(text): 
        # Remove special characters from the left side
        text = re.sub(r'^\W+', '', text)

        # Remove special characters from the right side
        text = re.sub(r'\W+$', '', text)
        return text
    else: ## it's nan
        return ''
    
    
def preprocess_text(text):
    if not pd.isna(text): 
        return text
    else: ## it's nan
        return ''

text = "(2003)!,"
processed_text = preprocess_text(text)
print(processed_text)

(2003)!,

In [5]:
### Cleaning the result of models
import ast
Cln_orgQ_model2 = []
Cln_orgQ_model4 = []
Cln_orgQ_electra = []
Cln_orgQ_roberta = []
Cln_orgQ_sgnet = []
Cln_orgQ_retro = []

Cln_potUQ_model2 = []
Cln_potUQ_model4 = []
Cln_potUQ_electra = []
Cln_potUQ_roberta = []
Cln_potUQ_sgnet = []
Cln_potUQ_retro = []

for index, row in es.iterrows():
    if index % 10000 == 0:
        print(index)
    
    original_question_model2 = row['O-Q model2 answer span']
    original_question_model4 = row['O-Q model4 answer span']
    original_question_electra = row['O-Q electra answer span']
    original_question_roberta = row['O-Q roberta answer span']
    original_question_sgnet = row['O-Q sgnet answer span']
    original_question_retro = row['O-Q retro answer span']
    
    potentialU_question_model2 = row['P-U model2 answer span']
    potentialU_question_model4 = row['P-U model4 answer span']
    potentialU_question_electra = row['P-U electra answer span']
    potentialU_question_roberta = row['P-U roberta answer span']
    potentialU_question_sgnet = row['P-U SgNet answer span']
    potentialU_question_retro = row['P-U retro answer span']
    
    
    Cln_orgQ_model2.append(preprocess_text(original_question_model2))
    Cln_orgQ_model4.append(preprocess_text(original_question_model4))
    Cln_orgQ_electra.append(preprocess_text(original_question_electra))
    Cln_orgQ_roberta.append(preprocess_text(original_question_roberta))
    Cln_orgQ_sgnet.append(preprocess_text(original_question_sgnet))
    Cln_orgQ_retro.append(preprocess_text(original_question_retro))
    
    Cln_potUQ_model2.append(preprocess_text(potentialU_question_model2))
    Cln_potUQ_model4.append(preprocess_text(potentialU_question_model4))
    Cln_potUQ_electra.append(preprocess_text(potentialU_question_electra))
    Cln_potUQ_roberta.append(preprocess_text(potentialU_question_roberta))
    Cln_potUQ_sgnet.append(preprocess_text(potentialU_question_sgnet))
    Cln_potUQ_retro.append(preprocess_text(potentialU_question_retro))

    
      
es['Cln_orgQ_model2'] = Cln_orgQ_model2
es['Cln_orgQ_model4'] = Cln_orgQ_model4
es['Cln_orgQ_electra'] = Cln_orgQ_electra
es['Cln_orgQ_roberta'] = Cln_orgQ_roberta
es['Cln_orgQ_sgnet'] = Cln_orgQ_sgnet
es['Cln_orgQ_retro'] = Cln_orgQ_retro


es['Cln_potUQ_model2'] = Cln_potUQ_model2
es['Cln_potUQ_model4'] = Cln_potUQ_model4
es['Cln_potUQ_electra'] = Cln_potUQ_electra
es['Cln_potUQ_roberta'] = Cln_potUQ_roberta
es['Cln_potUQ_sgnet'] = Cln_potUQ_sgnet
es['Cln_potUQ_retro'] = Cln_potUQ_retro

# Specify the desired column order
new_column_order = [
    'Question_Id', 'Context', 'Original_Question', 'Original_Answer',
       'Modified_Question', 'O-Q model2 answer span', 'Cln_orgQ_model2',
       'O-Q model2 start', 'O-Q model2 end', 'O-Q model2 score',
       'O-Q model4 answer span', 'Cln_orgQ_model4', 'O-Q model4 start', 'O-Q model4 end',
       'O-Q model4 score', 'O-Q electra answer span','Cln_orgQ_electra', 'O-Q electra start',
       'O-Q electra end', 'O-Q electra score', 'O-Q roberta answer span', 'Cln_orgQ_roberta',
       'O-Q roberta start', 'O-Q roberta end', 'O-Q roberta score',
       'O-Q sgnet answer span', 'Cln_orgQ_sgnet' ,'O-Q retro answer span', 'Cln_orgQ_retro',
       'P-U model2 answer span', 'Cln_potUQ_model2', 'P-U model2 start', 'P-U model2 end',
       'P-U model2 score', 'P-U model4 answer span', 'Cln_potUQ_model4', 'P-U model4 start',
       'P-U model4 end', 'P-U model4 score', 'P-U electra answer span', 'Cln_potUQ_electra',
       'P-U electra start', 'P-U electra end', 'P-U electra score',
       'P-U roberta answer span', 'Cln_potUQ_roberta', 'P-U roberta start', 'P-U roberta end',
       'P-U roberta score', 'P-U SgNet answer span', 'Cln_potUQ_sgnet', 'P-U retro answer span', 'Cln_potUQ_retro'
    
]



       
# Reorder the columns in the DataFrame
es = es[new_column_order]


es

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000

,Question_Id,Context,Original_Question,Original_Answer,Modified_Question,O-Q model2 answer span,Cln_orgQ_model2,O-Q model2 start,O-Q model2 end,O-Q model2 score,...,P-U electra score,P-U roberta answer span,Cln_potUQ_roberta,P-U roberta start,P-U roberta end,P-U roberta score,P-U SgNet answer span,Cln_potUQ_sgnet,P-U retro answer span,Cln_potUQ_retro
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyoncé Giselle Knowles-Carter start ...,late 1990s,late 1990s,275.0,286.0,0.636688,...,9.705338e-01,late 1990s,late 1990s,276.0,286.0,3.878467e-02,record producer and actress.,record producer and actress.,late 1990s,late 1990s
1,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Mathew Knowles start becoming popular?,late 1990s,late 1990s,275.0,286.0,0.636688,...,2.442383e-02,"Crazy in Love"" and ""Baby Boy","Crazy in Love"" and ""Baby Boy",664.0,692.0,1.130000e-10,record producer and actress.,record producer and actress.,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...
2,56be85543aeaaa14008c9065,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,singing and dancing,What areas did Beyoncé Giselle Knowles-Carter ...,singing and dancing,singing and dancing,206.0,226.0,0.836062,...,9.997814e-01,singing and dancing,singing and dancing,207.0,226.0,8.678358e-01,girl-group,girl-group,singing and dancing,singing and dancing
3,56be85543aeaaa14008c9065,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,singing and dancing,What areas did Mathew Knowles compete in when ...,singing and dancing,singing and dancing,206.0,226.0,0.836062,...,9.989982e-01,singing and dancing,singing and dancing,207.0,226.0,7.840000e-10,girl-group,girl-group,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...
4,56be85543aeaaa14008c9066,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,2003,When did Beyoncé Giselle Knowles-Carter leave ...,"(2003),","(2003),",524.0,532.0,0.942531,...,9.999547e-01,2003,2003,526.0,530.0,9.378974e-01,"worldwide, earned","worldwide, earned","(2003),","(2003),"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389326,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is KMC an initialism of?,Kathmandu Metropolitan City,Kathmandu Metropolitan City,0.0,27.0,0.949815,...,4.620000e-09,Kathmandu Metropolitan City,Kathmandu Metropolitan City,0.0,27.0,9.955025e-01,NaN,,kathmandu metropolitan city,kathmandu metropolitan city
389327,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is International Relations Secretariat an...,Kathmandu Metropolitan City,Kathmandu Metropolitan City,0.0,27.0,0.949815,...,9.991772e-01,IRC,IRC,135.0,138.0,8.199144e-02,NaN,,international relations secretariat,international relations secretariat
389328,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is IRC an initialism of?,Kathmandu Metropolitan City,Kathmandu Metropolitan City,0.0,27.0,0.949815,...,9.789463e-01,International Relations Secretariat,International Relations Secretariat,98.0,133.0,9.967989e-01,NaN,,kathmandu metropolitan city,kathmandu metropolitan city
389329,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is KMC an initialism of?,Kathmandu Metropolitan City,Kathmandu Metropolitan City,0.0,27.0,0.949815,...,4.620000e-09,Kathmandu Metropolitan City,Kathmandu Metropolitan City,0.0,27.0,9.955025e-01,NaN,,"(kmc),","(kmc),"
389330,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is KMC an initialism of?,Kathmandu Metropolitan City,Kathmandu Metropolitan City,0.0,27.0,0.949815,...,4.620000e-09,Kathmandu Metropolitan City,Kathmandu Metropolitan City,0.0,27.0,9.955025e-01,NaN,,"(kmc),","(kmc),"

# EM and unanswerability

In [6]:

EM_dataset_Cln_orgQ_model2 = []
EM_dataset_Cln_orgQ_model4 = []
EM_dataset_Cln_orgQ_electra = []
EM_dataset_Cln_orgQ_roberta = []
EM_dataset_Cln_orgQ_sgnet = []
EM_dataset_Cln_orgQ_retro = []

EM_dataset_Cln_potUQ_model2 = []
EM_dataset_Cln_potUQ_model4 = []
EM_dataset_Cln_potUQ_electra = []
EM_dataset_Cln_potUQ_roberta = []
Null_EM_dataset_Cln_potUQ_sgnet = []
Null_EM_dataset_Cln_potUQ_retro = []
### for unanswerability
un_potUQ_model2 = []
un_potUQ_model4 = []
un_potUQ_electra = []
un_potUQ_roberta = []
un_potUQ_sgnet = []
un_potUQ_retro = []


for index, row in es.iterrows():
    if index % 100000 == 0:
        print(index)
        
    original_answer_in_dataset = row['Original_Answer']

    original_question_model2 = row['Cln_orgQ_model2']
    original_question_model4 = row['Cln_orgQ_model4']
    original_question_electra = row['Cln_orgQ_electra']
    original_question_roberta = row['Cln_orgQ_roberta']
    original_question_sgnet = row['Cln_orgQ_sgnet']
    original_question_retro = row['Cln_orgQ_retro']
    
    potentialU_question_sgnet = row['Cln_potUQ_sgnet']
    potentialU_question_retro = row['Cln_potUQ_retro']
    potentialU_questionS_model2 = row['P-U model2 score']
    potentialU_questionS_model4 = row['P-U model4 score']
    potentialU_questionS_electra = row['P-U electra score']
    potentialU_questionS_roberta = row['P-U roberta score']
    



    if original_answer_in_dataset == original_question_model2:  # EM checking (dataset , model on org_q)
        EM_dataset_Cln_orgQ_model2.append(1)
    else:
        EM_dataset_Cln_orgQ_model2.append(0)
    
    if original_answer_in_dataset == original_question_model4:
        EM_dataset_Cln_orgQ_model4.append(1)
    else:
        EM_dataset_Cln_orgQ_model4.append(0)
    
    if original_answer_in_dataset == original_question_electra:
        EM_dataset_Cln_orgQ_electra.append(1)
    else:
        EM_dataset_Cln_orgQ_electra.append(0)
        
    if original_answer_in_dataset == original_question_roberta:
        EM_dataset_Cln_orgQ_roberta.append(1)
    else:
        EM_dataset_Cln_orgQ_roberta.append(0)
    
    if original_answer_in_dataset == original_question_sgnet:
        EM_dataset_Cln_orgQ_sgnet.append(1)
    else:
        EM_dataset_Cln_orgQ_sgnet.append(0)
        
    if original_answer_in_dataset == original_question_retro:
        EM_dataset_Cln_orgQ_retro.append(1)
    else:
        EM_dataset_Cln_orgQ_retro.append(0)
        
    if original_answer_in_dataset == potentialU_question_model2: ## EM checking (dataset, model on p-u_q)
        EM_dataset_Cln_potUQ_model2.append(1)
    else:
        EM_dataset_Cln_potUQ_model2.append(0)
    
    if original_answer_in_dataset == potentialU_question_model4:
        EM_dataset_Cln_potUQ_model4.append(1)
    else:
        EM_dataset_Cln_potUQ_model4.append(0)
    
    if original_answer_in_dataset == potentialU_question_electra:
        EM_dataset_Cln_potUQ_electra.append(1)
    else:
        EM_dataset_Cln_potUQ_electra.append(0)
        
    if original_answer_in_dataset == potentialU_question_roberta:
        EM_dataset_Cln_potUQ_roberta.append(1)
    else:
        EM_dataset_Cln_potUQ_roberta.append(0)
    
    Null_EM_dataset_Cln_potUQ_sgnet.append(100)
    Null_EM_dataset_Cln_potUQ_retro.append(100)

    if potentialU_questionS_model2 <= 0.096476303 : # unanswerablity checking
        un_potUQ_model2.append(0)  #unanswerable
    else:
        un_potUQ_model2.append(1)  #answerable
    
    if potentialU_questionS_model4 <= 0.15272566:
        un_potUQ_model4.append(0) #unanswerable
    else:
        un_potUQ_model4.append(1) #answerable
    
    if potentialU_questionS_electra <= 0.141489303:
        un_potUQ_electra.append(0) #unanswerable
    else:
        un_potUQ_electra.append(1) #answerable
        
    if potentialU_questionS_roberta <= 0.063691394:
        un_potUQ_roberta.append(0) #unanswerable
    else: 
        un_potUQ_roberta.append(1) #answerable
    
    if potentialU_question_sgnet == "": 
        un_potUQ_sgnet.append(0) #unanswerable
    else:
        un_potUQ_sgnet.append(1) #answerable
        
    if potentialU_question_retro == "" or potentialU_question_retro.startswith("[SEP]") or potentialU_question_retro == "'" or potentialU_question_retro == "," or potentialU_question_retro == "<No Answer>. The question is not answerable according to the context." or potentialU_question_retro == "<unk>=0" :
        un_potUQ_retro.append(0) #unanswerable
    else:
        un_potUQ_retro.append(1) #answerable
        
es['EM dataset with clean orgQ_model2'] = EM_dataset_Cln_orgQ_model2
es['EM dataset with clean orgQ_model4'] = EM_dataset_Cln_orgQ_model4
es['EM dataset with clean orgQ_electra'] = EM_dataset_Cln_orgQ_electra
es['EM dataset with clean orgQ_roberta'] = EM_dataset_Cln_orgQ_roberta
es['EM dataset with clean orgQ_sgnet'] = EM_dataset_Cln_orgQ_sgnet
es['EM dataset with clean orgQ_retro'] = EM_dataset_Cln_orgQ_retro


es['EM dataset with clean potentailUQ_model2'] = EM_dataset_Cln_potUQ_model2
es['EM dataset with clean potentailUQ_model4'] = EM_dataset_Cln_potUQ_model4
es['EM dataset with clean potentailUQ_electra'] = EM_dataset_Cln_potUQ_electra
es['EM dataset with clean potentailUQ_roberta'] = EM_dataset_Cln_potUQ_roberta
es['NULL EM dataset with clean potentailUQ_sgnet'] = Null_EM_dataset_Cln_potUQ_sgnet
es['NULL EM dataset with clean potentailUQ_retro'] = Null_EM_dataset_Cln_potUQ_retro


es['unanswerability potentailUQ_model2'] = un_potUQ_model2
es['unanswerability potentailUQ_model4'] = un_potUQ_model4
es['unanswerability potentailUQ_electra'] = un_potUQ_electra
es['unanswerability potentailUQ_roberta'] = un_potUQ_roberta
es['unanswerability potentailUQ_sgnet'] = un_potUQ_sgnet
es['unanswerability potentailUQ_retro'] = un_potUQ_retro

new_column_order = [
    'Question_Id', 'Context', 'Original_Question', 'Original_Answer',
    'Modified_Question', 'O-Q model2 answer span', 'Cln_orgQ_model2', 'EM dataset with clean orgQ_model2',
    'O-Q model2 start', 'O-Q model2 end', 'O-Q model2 score',
    'O-Q model4 answer span', 'Cln_orgQ_model4','EM dataset with clean orgQ_model4' ,'O-Q model4 start', 'O-Q model4 end',
    'O-Q model4 score', 'O-Q electra answer span','Cln_orgQ_electra', 'EM dataset with clean orgQ_electra', 'O-Q electra start',
    'O-Q electra end', 'O-Q electra score', 'O-Q roberta answer span', 'Cln_orgQ_roberta', 'EM dataset with clean orgQ_roberta',
    'O-Q roberta start', 'O-Q roberta end', 'O-Q roberta score',
    'O-Q sgnet answer span', 'Cln_orgQ_sgnet', 'EM dataset with clean orgQ_sgnet' ,'O-Q retro answer span', 'Cln_orgQ_retro', 'EM dataset with clean orgQ_retro',
    'P-U model2 answer span', 'Cln_potUQ_model2','EM dataset with clean potentailUQ_model2','unanswerability potentailUQ_model2' ,'P-U model2 start', 'P-U model2 end',
    'P-U model2 score', 'P-U model4 answer span', 'Cln_potUQ_model4','EM dataset with clean potentailUQ_model4','unanswerability potentailUQ_model4', 'P-U model4 start',
    'P-U model4 end', 'P-U model4 score', 'P-U electra answer span', 'Cln_potUQ_electra', 'EM dataset with clean potentailUQ_electra','unanswerability potentailUQ_electra',
    'P-U electra start', 'P-U electra end', 'P-U electra score',
    'P-U roberta answer span', 'Cln_potUQ_roberta','EM dataset with clean potentailUQ_roberta','unanswerability potentailUQ_roberta' ,'P-U roberta start', 'P-U roberta end',
    'P-U roberta score', 'P-U SgNet answer span', 'Cln_potUQ_sgnet','NULL EM dataset with clean potentailUQ_sgnet' ,'unanswerability potentailUQ_sgnet','P-U retro answer span', 'Cln_potUQ_retro',
    'NULL EM dataset with clean potentailUQ_retro', 'unanswerability potentailUQ_retro'
    
]



# Reorder the columns in the DataFrame
es = es[new_column_order]


es

0
100000
200000
300000

/tmp/ipykernel_1622037/2933413850.py:133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['EM dataset with clean orgQ_model2'] = EM_dataset_Cln_orgQ_model2
/tmp/ipykernel_1622037/2933413850.py:134: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['EM dataset with clean orgQ_model4'] = EM_dataset_Cln_orgQ_model4
/tmp/ipykernel_1622037/2933413850.py:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['EM dataset with clean orgQ_electra'] = EM_dataset_Cln_orgQ_electra
/tmp/ipykernel_1622037/2933413850.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['EM dataset with clean orgQ_roberta'] = EM_dataset_Cln_orgQ_roberta
/tmp/ipykernel_1622037/2933413850.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['EM dataset with clean orgQ_sgnet'] = EM_dataset_Cln_orgQ_sgnet
/tmp/ipykernel_1622037/2933413850.py:138: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['EM dataset with clean orgQ_retro'] = EM_dataset_Cln_orgQ_retro
/tmp/ipykernel_1622037/2933413850.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['EM dataset with clean potentailUQ_model2'] = EM_dataset_Cln_potUQ_model2
/tmp/ipykernel_1622037/2933413850.py:142: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['EM dataset with clean potentailUQ_model4'] = EM_dataset_Cln_potUQ_model4
/tmp/ipykernel_1622037/2933413850.py:143: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['EM dataset with clean potentailUQ_electra'] = EM_dataset_Cln_potUQ_electra
/tmp/ipykernel_1622037/2933413850.py:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['EM dataset with clean potentailUQ_roberta'] = EM_dataset_Cln_potUQ_roberta
/tmp/ipykernel_1622037/2933413850.py:145: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['NULL EM dataset with clean potentailUQ_sgnet'] = Null_EM_dataset_Cln_potUQ_sgnet
/tmp/ipykernel_1622037/2933413850.py:146: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['NULL EM dataset with clean potentailUQ_retro'] = Null_EM_dataset_Cln_potUQ_retro
/tmp/ipykernel_1622037/2933413850.py:149: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['unanswerability potentailUQ_model2'] = un_potUQ_model2
/tmp/ipykernel_1622037/2933413850.py:150: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['unanswerability potentailUQ_model4'] = un_potUQ_model4
/tmp/ipykernel_1622037/2933413850.py:151: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['unanswerability potentailUQ_electra'] = un_potUQ_electra
/tmp/ipykernel_1622037/2933413850.py:152: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['unanswerability potentailUQ_roberta'] = un_potUQ_roberta
/tmp/ipykernel_1622037/2933413850.py:153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['unanswerability potentailUQ_sgnet'] = un_potUQ_sgnet
/tmp/ipykernel_1622037/2933413850.py:154: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  es['unanswerability potentailUQ_retro'] = un_potUQ_retro

,Question_Id,Context,Original_Question,Original_Answer,Modified_Question,O-Q model2 answer span,Cln_orgQ_model2,EM dataset with clean orgQ_model2,O-Q model2 start,O-Q model2 end,...,P-U roberta end,P-U roberta score,P-U SgNet answer span,Cln_potUQ_sgnet,NULL EM dataset with clean potentailUQ_sgnet,unanswerability potentailUQ_sgnet,P-U retro answer span,Cln_potUQ_retro,NULL EM dataset with clean potentailUQ_retro,unanswerability potentailUQ_retro
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Beyoncé Giselle Knowles-Carter start ...,late 1990s,late 1990s,0,275.0,286.0,...,286.0,3.878467e-02,record producer and actress.,record producer and actress.,100,1,late 1990s,late 1990s,100,1
1,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,When did Mathew Knowles start becoming popular?,late 1990s,late 1990s,0,275.0,286.0,...,692.0,1.130000e-10,record producer and actress.,record producer and actress.,100,1,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...,100,0
2,56be85543aeaaa14008c9065,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,singing and dancing,What areas did Beyoncé Giselle Knowles-Carter ...,singing and dancing,singing and dancing,0,206.0,226.0,...,226.0,8.678358e-01,girl-group,girl-group,100,1,singing and dancing,singing and dancing,100,1
3,56be85543aeaaa14008c9065,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,singing and dancing,What areas did Mathew Knowles compete in when ...,singing and dancing,singing and dancing,0,206.0,226.0,...,226.0,7.840000e-10,girl-group,girl-group,100,1,<No Answer>. The question is not answerable ac...,<No Answer>. The question is not answerable ac...,100,0
4,56be85543aeaaa14008c9066,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,2003,When did Beyoncé Giselle Knowles-Carter leave ...,"(2003),","(2003),",0,524.0,532.0,...,530.0,9.378974e-01,"worldwide, earned","worldwide, earned",100,1,"(2003),","(2003),",100,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389326,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is KMC an initialism of?,Kathmandu Metropolitan City,Kathmandu Metropolitan City,1,0.0,27.0,...,27.0,9.955025e-01,NaN,,100,0,kathmandu metropolitan city,kathmandu metropolitan city,100,1
389327,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is International Relations Secretariat an...,Kathmandu Metropolitan City,Kathmandu Metropolitan City,1,0.0,27.0,...,138.0,8.199144e-02,NaN,,100,0,international relations secretariat,international relations secretariat,100,1
389328,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is IRC an initialism of?,Kathmandu Metropolitan City,Kathmandu Metropolitan City,1,0.0,27.0,...,133.0,9.967989e-01,NaN,,100,0,kathmandu metropolitan city,kathmandu metropolitan city,100,1
389329,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is KMC an initialism of?,Kathmandu Metropolitan City,Kathmandu Metropolitan City,1,0.0,27.0,...,27.0,9.955025e-01,NaN,,100,0,"(kmc),","(kmc),",100,1
389330,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,What is KMC an initialism of?,Kathmandu Metropolitan City,Kathmandu Metropolitan City,1,0.0,27.0,...,27.0,9.955025e-01,NaN,,100,0,"(kmc),","(kmc),",100,1

# Working on EM results

In [7]:
import pandas as pd
from tqdm import tqdm

# Define an empty list to hold the rows
rows = []

# Iterate through the DataFrame using iterrows
for index, row in tqdm(es.iterrows(), total=es.shape[0], desc="Processing rows"):
    if index % 100000 == 0: 
        print(index)

    qid = row['Question_Id']
    context = row['Context']
    org_question = row['Original_Question']
    org_answer = row['Original_Answer']
    pu_question = row['Modified_Question']

    model_data = [
        ('model 2', row['Cln_orgQ_model2'], row['Cln_potUQ_model2'], row['EM dataset with clean orgQ_model2'], row['EM dataset with clean potentailUQ_model2'],row['unanswerability potentailUQ_model2']),
        ('model 4', row['Cln_orgQ_model4'], row['Cln_potUQ_model4'], row['EM dataset with clean orgQ_model4'], row['EM dataset with clean potentailUQ_model4'],row['unanswerability potentailUQ_model4']),
        ('electra', row['Cln_orgQ_electra'], row['Cln_potUQ_electra'], row['EM dataset with clean orgQ_electra'], row['EM dataset with clean potentailUQ_electra'],row['unanswerability potentailUQ_electra']),
        ('roberta', row['Cln_orgQ_roberta'], row['Cln_potUQ_roberta'], row['EM dataset with clean orgQ_roberta'], row['EM dataset with clean potentailUQ_roberta'],row['unanswerability potentailUQ_roberta']),
        ('sgnet', row['Cln_orgQ_sgnet'], row['Cln_potUQ_sgnet'], row['EM dataset with clean orgQ_sgnet'], row['NULL EM dataset with clean potentailUQ_sgnet'],row['unanswerability potentailUQ_sgnet']),
        ('retro', row['Cln_orgQ_retro'], row['Cln_potUQ_retro'], row['EM dataset with clean orgQ_retro'], row['NULL EM dataset with clean potentailUQ_retro'],row['unanswerability potentailUQ_retro'])
    ]

    for model_name, org_output, pu_output, org_em, pu_em,un in model_data:
        row_data = [qid, context, org_question, org_answer, org_output, pu_question, pu_output, org_em, pu_em,un, model_name]
        rows.append(row_data)

# Convert the list of rows to a DataFrame
result_df = pd.DataFrame(rows, columns=['qid', 'context', 'original question in dataset', 'original answer span in dataset', 
                                        'output of model for original question', 'potentail_UQ question', 
                                        'output of model for potentail_UQ question', 
                                        'EM-dataset answer with model on orgQ', 'EM-dataset answer with model on potentialUQ', 'unanswerability on potential question',
                                        'model name'])

result_df

Processing rows:   1%|▍                                                         | 2717/389331 [00:00<01:17, 5003.02it/s]

0

Processing rows:  26%|██████████████▍                                        | 101956/389331 [00:08<00:27, 10450.18it/s]

100000

Processing rows:  52%|████████████████████████████▌                          | 202195/389331 [00:16<00:13, 14058.63it/s]

200000

Processing rows:  77%|██████████████████████████████████████████▌            | 301689/389331 [00:24<00:06, 13971.25it/s]

300000

Processing rows: 100%|███████████████████████████████████████████████████████| 389331/389331 [00:31<00:00, 12556.62it/s]

,qid,context,original question in dataset,original answer span in dataset,output of model for original question,potentail_UQ question,output of model for potentail_UQ question,EM-dataset answer with model on orgQ,EM-dataset answer with model on potentialUQ,unanswerability on potential question,model name
0,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,late 1990s,When did Beyoncé Giselle Knowles-Carter start ...,late 1990s,0,0,1,model 2
1,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,late 1990s,When did Beyoncé Giselle Knowles-Carter start ...,late 1990s,0,0,1,model 4
2,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,in the late 1990s,When did Beyoncé Giselle Knowles-Carter start ...,in the late 1990s,1,0,1,electra
3,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,late 1990s,When did Beyoncé Giselle Knowles-Carter start ...,late 1990s,0,0,0,roberta
4,56be85543aeaaa14008c9063,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,in,When did Beyoncé Giselle Knowles-Carter start ...,record producer and actress.,0,100,1,sgnet
...,...,...,...,...,...,...,...,...,...,...,...
2335981,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,Kathmandu,What is KMC an initialism of?,Kathmandu,0,0,0,model 4
2335982,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,Secretariat,What is KMC an initialism of?,Secretariat,0,0,0,electra
2335983,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,Kathmandu Metropolitan City,What is KMC an initialism of?,Kathmandu Metropolitan City,1,1,1,roberta
2335984,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,,What is KMC an initialism of?,,0,100,0,sgnet
2335985,5735d259012e2f140011a0a1,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,Kathmandu Metropolitan City,kathmandu metropolitan city,What is KMC an initialism of?,"(kmc),",0,100,1,retro

In [9]:
result_df.to_csv('20240704-forAllConditions_Entityswap_Eval100.csv')
# result_df = pd.read_csv("20240704-forAllConditions_Entityswap_Eval100.csv",sep=',')
# modified_Entity_Swap_df
print('percentages over all models')
model_name_counts = result_df['model name'].value_counts()
print(model_name_counts)
print("total row = " , len(result_df['model name']))

percentages over all models
model name
model 2    389331
model 4    389331
electra    389331
roberta    389331
sgnet      389331
retro      389331
Name: count, dtype: int64
total row =  2335986

In [10]:
import pandas as pd

# Group by 'qid' and 'potential_UQ question'
grouped = result_df.groupby(['qid', 'potentail_UQ question'])

# Initialize an empty list to hold the result
result_list = []

# Iterate over each group
for name, group in grouped:
    model_name_list = []
    sw = True
    qid, potential_UQ_question = name  # unpack the group name
    
    # Assume that context, original_question, and original_answer_span are the same for each group
    context = group.iloc[0]['context']
    original_question = group.iloc[0]['original question in dataset']
    original_answer_span = group.iloc[0]['original answer span in dataset']
    
    # Iterate through each row in the group
    for index, row in group.iterrows():
        EM_orgQ = row['EM-dataset answer with model on orgQ']
        EM_modifiedQ = row['EM-dataset answer with model on potentialUQ']
        unanswerability = row['unanswerability on potential question']
        
        #### New eval (1,0,0) for model2,model4,electra,roberta AND (1,0) for retro and sgnet   
        model_n = row['model name']
        if EM_orgQ ==1 : ### originalQ should be answered
            if model_n == 'model 2' or model_n == 'model 4' or model_n == 'electra' or model_n == 'roberta': 
                if EM_modifiedQ == 0 and unanswerability == 0:  ## if model couldn't answer it (low score , and em=0 for p-u), now let's consider this model
                    if row['model name'] not in model_name_list:
                        model_name_list.append(row['model name'])
            elif model_n == 'retro' or model_n == 'sgnet':
                if unanswerability == 0:  ## if model couldn't answer it (null or empty answer), now let's consider this model
                    if row['model name'] not in model_name_list:
                        model_name_list.append(row['model name'])
    
    # Add the result to the list
    result_list.append({
        'qid': qid,
        'context': context,
        'original_question': original_question,
        'original_answer_span': original_answer_span,
        'potential_UQ_question': potential_UQ_question,
        'model_name_list': model_name_list,
        'len': len(model_name_list)
    })

# Create a new DataFrame from the result list
new_df = pd.DataFrame(result_list)
new_df.to_csv('20240704-for10Conditions_Entityswap_EVAL100.csv')
# Display the new DataFrame
display(new_df)

,qid,context,original_question,original_answer_span,potential_UQ_question,model_name_list,len
0,5.73E+136,"During the Protestant Reformation, the Church ...",When did the Church of England separate from t...,During the Protestant Reformation,When did Church separate from the Roman Cathol...,[],0
1,5.73E+136,"During the Protestant Reformation, the Church ...",When did the Church of England separate from t...,During the Protestant Reformation,When did the Anglican Church separate from the...,[],0
2,5.73E+136,"During the Protestant Reformation, the Church ...",When did the Church of England separate from t...,During the Protestant Reformation,When did the Church of England separate from C...,[],0
3,5.73E+136,"During the Protestant Reformation, the Church ...",When did the Church of England separate from t...,During the Protestant Reformation,When did the Church of England separate from t...,[roberta],1
4,5.73E+136,"During the Protestant Reformation, the Church ...",When did the Church of England separate from t...,During the Protestant Reformation,When did the Church of England separate from t...,[roberta],1
...,...,...,...,...,...,...,...
287162,573636bf9c79961900ff7e09,"In contrast, Botswana has recently been forced...",What animal numbers remain stable in Botswana?,elephant,What animal numbers remain stable in Botswana?,[],0
287163,573636bf9c79961900ff7e09,"In contrast, Botswana has recently been forced...",What animal numbers remain stable in Botswana?,elephant,What animal numbers remain stable in Uganda?,"[model 4, electra, roberta, retro]",4
287164,573636bf9c79961900ff7e0a,"In contrast, Botswana has recently been forced...",What else is partly to blame for the declining...,poaching,What else is partly to blame for the declining...,[],0
287165,573636bf9c79961900ff7e0a,"In contrast, Botswana has recently been forced...",What else is partly to blame for the declining...,poaching,What else is partly to blame for the declining...,[],0
287166,573636bf9c79961900ff7e0a,"In contrast, Botswana has recently been forced...",What else is partly to blame for the declining...,poaching,What else is partly to blame for the declining...,[electra],1

In [14]:
filtered_df = new_df[new_df['len'] >= 4]
filtered_df.to_csv('20240704-EntitySwap-FinalUQ-EVAL100.csv')
filtered_df

,qid,context,original_question,original_answer_span,potential_UQ_question,model_name_list,len
30,5.73E+182,"In October 2015, TCM announced the launch of t...",How long do TCM Wineclub subscriptions last?,3 month,How long do Laithwaite subscriptions last?,"[model 4, electra, roberta, retro]",4
77,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Destiny's Child magazine named her one of the ...,"[model 4, electra, roberta, retro]",4
91,56be88473aeaaa14008c9083,"A self-described ""modern-day feminist"", Beyonc...",Time magazine named her one of the most 100 wh...,influential,Time magazine named her one of the most 60 mil...,"[model 4, electra, roberta, retro]",4
205,56be8d423aeaaa14008c90b2,LeToya Luckett and Roberson became unhappy wit...,What mental health issue did Beyonce go through?,depression,What mental health issue did Luckett go through?,"[model 4, electra, roberta, retro]",4
206,56be8d423aeaaa14008c90b2,LeToya Luckett and Roberson became unhappy wit...,What mental health issue did Beyonce go through?,depression,What mental health issue did Mathew go through?,"[model 4, electra, roberta, retro]",4
...,...,...,...,...,...,...,...
287092,573605726c16ec1900b92902,"Shooting as practised in Britain, as opposed t...",About how many birds are released onto shootin...,thirty-five million,About how many birds are released onto shootin...,"[model 4, electra, roberta, retro]",4
287112,573610e9012e2f140011a18d,Hunting in the United States is not associated...,What years did hunting decline?,1996–2006,What 2006 did hunting decline?,"[model 4, electra, roberta, retro]",4
287115,573610e9012e2f140011a18d,Hunting in the United States is not associated...,What years did hunting decline?,1996–2006,What the beginning of the 21st century did hun...,"[model 4, electra, roberta, retro]",4
287161,573636bf9c79961900ff7e08,"In contrast, Botswana has recently been forced...",What animal numbers have increased in Botswana?,hippopotamus,What animal numbers have increased in Uganda?,"[model 4, electra, roberta, retro]",4
287163,573636bf9c79961900ff7e09,"In contrast, Botswana has recently been forced...",What animal numbers remain stable in Botswana?,elephant,What animal numbers remain stable in Uganda?,"[model 4, electra, roberta, retro]",4

In [12]:
# Define the conditions you want to check
conditions = [
    ('len >= 1', new_df['len'] >= 1),
    ('len == 3', new_df['len'] == 3),
    ('len == 4', new_df['len'] == 4),
    ('len == 5', new_df['len'] == 5),
    ('len == 6', new_df['len'] == 6),
    ('len >= 3', new_df['len'] >= 3),
    ('len >= 4', new_df['len'] >= 4),
    ('len >= 5', new_df['len'] >= 5)
]

# Initialize an empty dictionary to hold the results
condition_counts = {}

# Iterate over each condition
for condition_name, condition in conditions:
    # Filter the DataFrame based on the current condition
    filtered_df = new_df[condition]
    
    # Count the number of records that meet the condition
    count = filtered_df.shape[0]
    
    # Store the count in the dictionary
    condition_counts[condition_name] = count

# Display the counts for each condition
for condition_name, count in condition_counts.items():
    print(f"Number of records where {condition_name}: {count}")

Number of records where len >= 1: 170252
Number of records where len == 3: 43741
Number of records where len == 4: 13567
Number of records where len == 5: 3877
Number of records where len == 6: 0
Number of records where len >= 3: 61185
Number of records where len >= 4: 17444
Number of records where len >= 5: 3877